In [1]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [4]:
chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/D2H3M1P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_41 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '801'
        if m in page_41.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


#    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
#        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-70qvj9')


        total_name.append(name.text)
#        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
#    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('df6')

name 817
address 817
sqft 817
owners 817
emi 817

In [5]:
df.describe()

,name,address,sq_ft,owners,emi
count,817,817,817,817,817
unique,218,587,311,680,159
top,2 BHK Apartment for sale in Pathardi Phata,"Nashik Road, Nashik",850 sq.ft,Vishal,₹35.0 L\nEMI starts at ₹18.53 K
freq,81,20,33,6,49

In [4]:
df['housetype'] = 'Apartment'
df['house_condition'] = 'new'

In [7]:
df.to_csv('housing_data6')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('housing_data6',index_col=0)

In [3]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition
0,2 BHK Apartment for sale in Vaiduwadi,"Pokar Colony, Vaiduwadi,Nashik",923 sq.ft,Satendra Pandey,₹27.5 L\nEMI starts at ₹14.56 K,Apartment,new
1,3 BHK Apartment for sale in Satpur,"Mblu 2,Ganesh Nagar, Satpur,Nashik",1900 sq.ft,Metadesign India Pvt Ltd,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,new
2,2 BHK Apartment for sale in Nashik Road,"Ozone,Nashik Road, Nashik",1044 sq.ft,M L Developers,₹42.11 L\nEMI starts at ₹22.30 K,Apartment,new
3,3 BHK Apartment for sale in Nashik Road,"Anmol Nayantara Estate,Nashik Road, Nashik",1808 sq.ft,Rupak,₹1.1 Cr\nEMI starts at ₹54.61 K,Apartment,new
4,1 BHK Apartment for sale in Gangapur,"Aarambh Apartment,Gangapur, Nashik",690 sq.ft,Divyesh Kothari,₹26.2 L\nEMI starts at ₹13.87 K,Apartment,new
...,...,...,...,...,...,...,...
812,1 BHK Apartment for sale in Nashik Road,"Matoshri Nagar, Nashik Road,Nashik",675 sq.ft,Harshal,₹17.0 L\nEMI starts at ₹9.00 K,Apartment,new
813,1 BHK Apartment for sale in Indira Nagar,"Aaryavarta,Kala Nagar, Indira Nagar,Nashik",703 sq.ft,Anup Vazare,₹23.5 L\nEMI starts at ₹12.44 K,Apartment,new
814,3 BHK Apartment for sale in Indira Nagar,"Kamod Nagar, Indira Nagar,Nashik",1355 sq.ft,Rahil Vij,₹55.0 L\nEMI starts at ₹29.13 K,Apartment,new
815,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1306 sq.ft,Bharti Tani,₹45.0 L\nEMI starts at ₹23.83 K,Apartment,new
816,2 BHK Apartment for sale in Sharda Vihar,"Nandanbaug apartment ,Sharda Vihar, Nashik",1010 sq.ft,Dinesh Mandlik,₹35.0 L\nEMI starts at ₹18.53 K,Apartment,new

In [4]:
df.sq_ft.unique()

array(['923 sq.ft', '1900 sq.ft', '1044 sq.ft', '1808 sq.ft', '690 sq.ft',
       '1205 sq.ft', '650 sq.ft', '1085 sq.ft', '630 sq.ft', '1461 sq.ft',
       '882 sq.ft', '1525 sq.ft', '765 sq.ft', '880 sq.ft', '640 sq.ft',
       '1066 sq.ft', '942 sq.ft', '924 sq.ft', '1000 sq.ft', '955 sq.ft',
       '830 sq.ft', '820 sq.ft', '1060 sq.ft', '752 sq.ft', '906 sq.ft',
       '960 sq.ft', '950 sq.ft', '800 sq.ft', '730 sq.ft', '1019 sq.ft',
       '850 sq.ft', '910 sq.ft', '419 sq.ft', '1360 sq.ft', '895 sq.ft',
       '750 sq.ft', '1280 sq.ft', '877 sq.ft', '1230 sq.ft', '790 sq.ft',
       '1130 sq.ft', '600 sq.ft', '551 sq.ft', '745 sq.ft', '957 sq.ft',
       '912 sq.ft', '1410 sq.ft', '685 sq.ft', '930 sq.ft', '2260 sq.ft',
       '1488 sq.ft', '1590 sq.ft', '700 sq.ft', '816 sq.ft', '1241 sq.ft',
       '575 sq.ft', '838 sq.ft', '1180 sq.ft', '1035 sq.ft', '785 sq.ft',
       '619 sq.ft', '900 sq.ft', '1100 sq.ft', '1449 sq.ft', '855 sq.ft',
       '1225 sq.ft', '1451 sq.ft', '885 sq.ft', '3600 sq.ft', '550 sq.ft',
       '890 sq.ft', '2625 sq.ft', '1500 sq.ft', '1045 sq.ft', '835 sq.ft',
       '470 sq.ft', '1150 sq.ft', '979 sq.ft', '1059 sq.ft', '525 sq.ft',
       '903 sq.ft', '811 sq.ft', '510 sq.ft', '1300 sq.ft', '585 sq.ft',
       '1275 sq.ft', '995 sq.ft', '1200 sq.ft', '860 sq.ft', '970 sq.ft',
       '2250 sq.ft', '935 sq.ft', '450 sq.ft', '818 sq.ft', '1250 sq.ft',
       '591 sq.ft', '1107 sq.ft', '330 sq.ft', '610 sq.ft', '875 sq.ft',
       '1010 sq.ft', '864 sq.ft', '620 sq.ft', '1330 sq.ft', '370 sq.ft',
       '528 sq.ft', '883 sq.ft', '1008 sq.ft', '674 sq.ft', '533 sq.ft',
       '655 sq.ft', '733 sq.ft', '780 sq.ft', '845 sq.ft', '705 sq.ft',
       '615 sq.ft', '586 sq.ft', '985 sq.ft', '775 sq.ft', '1400 sq.ft',
       '825 sq.ft', '446 sq.ft', '1065 sq.ft', '1800 sq.ft', '867 sq.ft',
       '990 sq.ft', '540 sq.ft', '1068 sq.ft', '777 sq.ft', '566 sq.ft',
       '645 sq.ft', '662 sq.ft', '810 sq.ft', '556 sq.ft', '1167 sq.ft',
       '1040 sq.ft', '1156 sq.ft', '400 sq.ft', '500 sq.ft', '560 sq.ft',
       '824 sq.ft', '1009 sq.ft', '1471 sq.ft', '675 sq.ft', '742 sq.ft',
       '570 sq.ft', '788 sq.ft', '757 sq.ft', '505 sq.ft', '1005 sq.ft',
       '851 sq.ft', '710 sq.ft', '660 sq.ft', '720 sq.ft', '920 sq.ft',
       '555 sq.ft', '680 sq.ft', '1422 sq.ft', '1460 sq.ft', '722 sq.ft',
       '1600 sq.ft', '656 sq.ft', '1014 sq.ft', '1190 sq.ft',
       '1075 sq.ft', '776 sq.ft', '805 sq.ft', '1051 sq.ft', '725 sq.ft',
       '1240 sq.ft', '1079 sq.ft', '1750 sq.ft', '1170 sq.ft',
       '881 sq.ft', '1472 sq.ft', '542 sq.ft', '1080 sq.ft', '1047 sq.ft',
       '812 sq.ft', '593 sq.ft', '896 sq.ft', '840 sq.ft', '1050 sq.ft',
       '692 sq.ft', '360 sq.ft', '832 sq.ft', '672 sq.ft', '613 sq.ft',
       '977 sq.ft', '1165 sq.ft', '861 sq.ft', '738 sq.ft', '1530 sq.ft',
       '1120 sq.ft', '1450 sq.ft', '522 sq.ft', '802 sq.ft', '1350 sq.ft',
       '980 sq.ft', '652 sq.ft', '696 sq.ft', '740 sq.ft', '535 sq.ft',
       '916 sq.ft', '1675 sq.ft', '691 sq.ft', '580 sq.ft', '530 sq.ft',
       '1011 sq.ft', '1255 sq.ft', '1140 sq.ft', '552 sq.ft',
       '2120 sq.ft', '1215 sq.ft', '1869 sq.ft', '670 sq.ft',
       '1290 sq.ft', '605 sq.ft', '607 sq.ft', '870 sq.ft', '1918 sq.ft',
       '571 sq.ft', '1968 sq.ft', '300 sq.ft', '1090 sq.ft', '842 sq.ft',
       '1285 sq.ft', '1265 sq.ft', '2200 sq.ft', '1364 sq.ft',
       '1089 sq.ft', '814 sq.ft', '782 sq.ft', '430 sq.ft', '337 sq.ft',
       '1191 sq.ft', '1124 sq.ft', '582 sq.ft', '516 sq.ft', '325 sq.ft',
       '664 sq.ft', '862 sq.ft', '1171 sq.ft', '1480 sq.ft', '1575 sq.ft',
       '951 sq.ft', '771 sq.ft', '1135 sq.ft', '1155 sq.ft', '823 sq.ft',
       '494 sq.ft', '355 sq.ft', '853 sq.ft', '2000 sq.ft', '925 sq.ft',
       '1086 sq.ft', '975 sq.ft', '934 sq.ft', '801 sq.ft', '629 sq.ft',
       '887 sq.ft', '856 sq.ft', '1030 sq.ft', '1270 sq.ft', '410 sq.ft',
       '642 sq.ft', '625 sq.ft', '1028 sq.ft', '1326 sq.ft', '2500 sq.ft',
       '865 sq.ft', '804 sq.ft', '966 sq.ft', '584 sq.ft', '751 sq.ft',
       '616 sq.ft', '1320 sq.ft', '310 sq.ft', '358 sq.ft', '784 sq.ft',
       '1168 sq.ft', '1002 sq.ft', '460 sq.ft', '465 sq.ft', '1160 sq.ft',
       '589 sq.ft', '1232 sq.ft', '693 sq.ft', '1880 sq.ft', '940 sq.ft',
       '1349 sq.ft', '813 sq.ft', '728 sq.ft', '1106 sq.ft', '1319 sq.ft',
       '1091 sq.ft', '498 sq.ft', '635 sq.ft', '1744 sq.ft', '884 sq.ft',
       '945 sq.ft', '1663 sq.ft', '541 sq.ft', '2700 sq.ft', '760 sq.ft',
       '1271 sq.ft', '2489 sq.ft', '1650 sq.ft', '703 sq.ft',
       '1355 sq.ft', '1306 sq.ft'], dtype=object)

In [5]:
df.name.unique()

array(['2 BHK Apartment for sale in Vaiduwadi',
       '3 BHK Apartment for sale in Satpur',
       '2 BHK Apartment for sale in Nashik Road',
       '3 BHK Apartment for sale in Nashik Road',
       '1 BHK Apartment for sale in Gangapur',
       '2 BHK Apartment for sale in Uttara Nagar',
       '1 BHK Apartment for sale in Pimpalgaon Baswant',
       '2 BHK Apartment for sale in Amrutdham',
       '1 BHK Apartment for sale in Nashik Road',
       '3 BHK Apartment for sale in Cidco',
       '2 BHK Apartment for sale in Gangapur',
       '2 BHK Apartment for sale in Kalpataru Nagar',
       '1 BHK Apartment for sale in Ghatkopar',
       '1 BHK Apartment for sale in Ambedkar Nagar',
       '2 BHK Apartment for sale in Deolali Gaon',
       '2 BHK Apartment for sale in Satpur',
       '2 BHK Apartment for sale in Salunkhe Nagar',
       '2 BHK Apartment for sale in Anandwalli Gaon',
       '2 BHK Apartment for sale in Shivaji Nagar',
       '1 BHK Apartment for sale in Pimpalgaon Bahula',
       '3 BHK Apartment for sale in New Pandit Colony',
       '2 BHK Apartment for sale in Swaminarayan Nagar',
       '2 BHK Apartment for sale in Professor Colony',
       '2 BHK Apartment for sale in Hirawadi',
       '1 BHK Apartment for sale in Prabhat Colony',
       '2 BHK Apartment for sale in Mahalaxmi Nagar',
       '2 BHK Apartment for sale in Indira Nagar',
       '1 RK Apartment for sale in Ambad Village',
       '1 BHK Apartment for sale in Satpur',
       '2 BHK Apartment for sale in Pathardi Phata',
       '2 BHK Apartment for sale in Abhiyanta Nagar',
       '3 BHK Apartment for sale in Anandwalli Gaon',
       '2 BHK Apartment for sale in Uttam Nagar',
       '4 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Adgaon',
       '1 BHK Apartment for sale in Bhor Town Ship',
       '2 BHK Apartment for sale in Hanuman Nagar',
       '3 BHK Apartment for sale in Ganesh Baba Nagar',
       '2 BHK Apartment for sale in Sinnar Taluka',
       '1 BHK Apartment for sale in Kathda',
       '2 BHK Apartment for sale in Makhmalabad',
       '2 BHK Apartment for sale in Jagtap Nagar',
       '3 BHK Apartment for sale in Shivaji Nagar',
       '2 BHK Apartment for sale in Ghatkopar',
       '1 BHK Apartment for sale in Ambad Village',
       '3 BHK Apartment for sale in Professor Colony',
       '4 BHK Apartment for sale in Dehmandir Cooperative Housing Society',
       '2 BHK Apartment for sale in Kailash Nagar',
       '2 BHK Apartment for sale in Ekdant Nagar',
       '4 BHK Apartment for sale in Chandshi',
       '2 BHK Apartment for sale in Sagar Village',
       '2 BHK Apartment for sale in Pimpalgaon Baswant',
       '1 RK Apartment for sale in Shramik Nagar',
       '2 BHK Apartment for sale in Mhasrul Gaon',
       '2 BHK Apartment for sale in Tarwala Nagar',
       '2 BHK Apartment for sale in Vrindavan Nagar',
       '2 BHK Apartment for sale in Konark Nagar',
       '2 BHK Apartment for sale in Samangaon',
       '2 BHK Apartment for sale in Murari Nagar',
       '1 BHK Apartment for sale in Sinnar Taluka',
       '1 BHK Apartment for sale in Sharda Vihar',
       '2 BHK Apartment for sale in Sai Nath Nagar',
       '1 BHK Apartment for sale in Panchavati',
       '3 BHK Apartment for sale in Prabhat Colony',
       '2 BHK Apartment for sale in MIDC Ambad',
       '2 BHK Apartment for sale in Sadguru Nagar',
       '2 BHK Apartment for sale in Wadala Gaon',
       '1 BHK Apartment for sale in Anandwalli Gaon',
       '3 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Pathardi Phata',
       '2 BHK Apartment for sale in Dr.Homi Bhabha Nagar',
       '2 BHK Apartment for sale in Sharda Vihar',
       '1 BHK Apartment for sale in Makhmalabad',
       '2 BHK Apartment for sale in Ambad Village',
       '2 BHK Apartment for sale in Khutwad Nagar',
       '1 RK Apartment for sale in Ayodhya Nagari',
       '1 RK Apartment for sale in Ojhar',
       '2 BHK Apartment for sale in Mahajan Nagar',
       '3 BHK Apartment for sale in Deolali Gaon',
       '1 BHK Apartment for sale in Deolali Gaon',
       '3 BHK Apartment for sale in Amrutdham',
       '1 BHK Apartment for sale in Shramik Nagar',
       '1 BHK Apartment for sale in MIDC Ambad',
       '2 BHK Apartment for sale in DGP Nagar',
       '2 BHK Apartment for sale in Nandur Village',
       '2 BHK Apartment for sale in Cidco',
       '1 BHK Apartment for sale in Pathardi Phata',
       '1 BHK Apartment for sale in Ajmeri Nagar',
       '2 BHK Apartment for sale in Dwarka',
       '2 BHK Apartment for sale in Ajmeri Nagar',
       '2 BHK Apartment for sale in Adgaon',
       '1 BHK Apartment for sale in Adgaon',
       '2 BHK Apartment for sale in Chunchale',
       '1 BHK Apartment for sale in Prabhat Nagar',
       '2 BHK Apartment for sale in Shalimar',
       '2 BHK Apartment for sale in Sneha Nagar',
       '2 BHK Apartment for sale in Bridge Nagar',
       '1 RK Apartment for sale in Kalpataru Nagar',
       '2 BHK Apartment for sale in Om Nagar',
       '3 BHK Apartment for sale in Indira Nagar',
       '1 BHK Apartment for sale in Mhasrul Gaon',
       '1 BHK Apartment for sale in Konark Nagar',
       '2 BHK Apartment for sale in Siddhivinayak Colony',
       '3 BHK Apartment for sale in Samangaon',
       '2 BHK Apartment for sale in Prabhat Colony',
       '2 BHK Apartment for sale in Gulshan Colony',
       '1 BHK Apartment for sale in Mahalaxmi Nagar',
       '2 BHK Apartment for sale in Vijaynagar Colony',
       '1 BHK Apartment for sale in DGP Nagar',
       '1 BHK Apartment for sale in Rajiv Nagar',
       '2 BHK Apartment for sale in Ojhar',
       '1 BHK Apartment for sale in Nandur Village',
       '2 BHK Apartment for sale in Ganesh Baba Nagar',
       '1 RK Apartment for sale in Murari Nagar',
       '1 BHK Apartment for sale in Panchak',
       '2 BHK Apartment for sale in Durganagar',
       '1 BHK Apartment for sale in Parijat Nagar',
       '2 BHK Apartment for sale in Ambika Nagar',
       '2 BHK Apartment for sale in Upendra Nagar Colony',
       '2 BHK Apartment for sale in Deepali Nagar',
       '2 BHK Apartment for sale in Shri Ram Nagar',
       '1 RK Apartment for sale in Pathardi Phata',
       '2 BHK Apartment for sale in Savata Nagar',
       '1 RK Apartment for sale in Nashik Road',
       '3 BHK Apartment for sale in Dwarka',
       '1 BHK Apartment for sale in Vijaynagar Colony',
       '1 BHK Apartment for sale in Ram Wadi',
       '3 BHK Apartment for sale in Matoshree Nagar',
       '4 BHK Apartment for sale in Nashik Road',
       '3 BHK Apartment for sale in Tarwala Nagar',
       '2 BHK Apartment for sale in TIDKE NAGAR',
       '2 BHK Apartment for sale in Govind Nagar',
       '1 RK Apartment for sale in Trimbak',
       '2 BHK Apartment for sale in Panchavati',
       '1 BHK Apartment for sale in Balram Nagar',
       '2 BHK Apartment for sale in Omkar Nagar',
       '1 BHK Apartment for sale in Dattanagar',
       '2 BHK Apartment for sale in Balram Nagar',
       '3 BHK Apartment for sale in Lasalgaon',
       '4 BHK Apartment for sale in Pawar Wadi',
       '3 BHK Apartment for sale in Makhmalabad',
       '2 BHK Apartment for sale in Rane Nagar',
       '2 BHK Apartment for sale in Veer Sawarkar Nagar',
       '1 BHK Apartment for sale in Vrindavan Nagar',
       '1 RK Apartment for sale in Vijaynagar Colony',
       '1 RK Apartment for sale in Panchak',
       '1 BHK Apartment for sale in Dwarka',
       '2 BHK Apartment for sale in Prabhat Nagar',
       '3 BHK Apartment for sale in Mhasrul Gaon',
       '4 BHK Apartment for sale in Pandit Colony',
       '3 BHK Apartment for sale in Sneha Nagar',
       '1 BHK Apartment for sale in Indira Nagar',
       '1 BHK Apartment for sale in P&T COLONY',
       '3 BHK Apartment for sale in Prabhat Nagar',
       '3 BHK Apartment for sale in Sahdev Nagar',
       '1 BHK Apartment for sale in Eklahare',
       '3 BHK Apartment for sale in Uttara Nagar',
       '1 BHK Apartment for sale in Deepali Nagar',
       '1 BHK Apartment for sale in College Road',
       '3 BHK Apartment for sale in Asha Nagar',
       '1 RK Apartment for sale in Gangapur',
       '3 BHK Apartment for sale in Chandshi',
       '2 BHK Apartment for sale in Sanjeev Nagar',
       '1 BHK Apartment for sale in Shinde',
       '1 RK Apartment for sale in Vijay Nagar',
       '1 BHK Apartment for sale in Wadala Gaon',
       '1 BHK Apartment for sale in Chunchale',
       '3 BHK Apartment for sale in Rajiv Nagar',
       '1 BHK Apartment for sale in Samangaon',
       '2 BHK Apartment for sale in Canada Corner',
       '1 BHK Apartment for sale in Pandit Colony',
       '3 BHK Apartment for sale in Bridge Nagar',
       '1 BHK Apartment for sale in Gole Colony',
       '2 BHK Apartment for sale in Koknipura',
       '3 BHK Apartment for sale in Hanuman Nagar',
       '4 BHK Apartment for sale in Uttara Nagar',
       '2 BHK Apartment for sale in Shramik Nagar',
       '2 BHK Apartment for sale in Eklahare',
       '2 BHK Apartment for sale in Pimpalgaon Bahula',
       '1 BHK Apartment for sale in Rane Nagar',
       '1 BHK Apartment for sale in Govind Nagar',
       '1 BHK Apartment for sale in Ojhar',
       '2 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Wadala Gaon',
       '1 BHK Apartment for sale in Tarwala Nagar',
       '1 BHK Apartment for sale in Mahajan Nagar',
       '2 BHK Apartment for sale in Pawar Wadi',
       '4 BHK Apartment for sale in Anandwalli Gaon',
       '1 RK Apartment for sale in Amrutdham',
       '2 BHK Apartment for sale in Chandshi',
       '1 RK Apartment for sale in Deolali Gaon',
       '1 BHK Apartment for sale in Sai Nath Nagar',
       '1 BHK Apartment for sale in Sneha Nagar',
       '3 BHK Apartment for sale in Panchavati',
       '1 RK Apartment for sale in Satpur',
       '1 BHK Apartment for sale in Talathi Colony',
       '3 BHK Apartment for sale in Vaiduwadi',
       '1 BHK Apartment for sale in Abhiyanta Nagar',
       '1 BHK Apartment for sale in Purnvad Nagar',
       '1 RK Apartment for sale in Makhmalabad',
       '2 BHK Apartment for sale in Panchak',
       '3 BHK Apartment for sale in TIDKE NAGAR',
       '2 BHK Apartment for sale in Matoshree Nagar',
       '1 BHK Apartment for sale in Amrutdham',
       '1 BHK Apartment for sale in Samta Nagar',
       '1 RK Apartment for sale in MIDC Ambad',
       '1 BHK Apartment for sale in Khutwad Nagar',
       '2 BHK Apartment for sale in College Road',
       '3 BHK Apartment for sale in Govind Nagar',
       '3 BHK Apartment for sale in Gangapur',
       '4 BHK Apartment for sale in Indira Nagar',
       "2 BHK Apartment for sale in D'souza Colony",
       '1 BHK Apartment for sale in Veer Sawarkar Nagar',
       '3 BHK Apartment for sale in Sharanpur',
       '2 BHK Apartment for sale in Manik Nagar',
       '1 BHK Apartment for sale in Anand Colony',
       '3 BHK Apartment for sale in Sadguru Nagar',
       '4 BHK Apartment for sale in Veer Sawarkar Nagar'], dtype=object)

In [6]:
def name_splitter(value):
    return value.split(sep=' BHK')[0]
def price_splitter(value):
    
    
    value = value.replace('₹',' L')
    value1 =value.split(sep=' L')[1]
    
    if 'Cr\nEMI starts at'in value1:
        value2 = float(value1.split(sep=' ')[0])*100
        return round(value2,ndigits=1)
    else:
        return value1  
    
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    value = value.replace(' K','₹')
    return value.split(sep='₹')[2]
def splitting_sqft(value):
    return value.split()[0]

In [7]:
df['BHK'] = df['name'].apply(name_splitter)
df['price'] = df['emi'].apply(price_splitter)
df['per_month_emi'] = df['emi'].apply(emi_splitter)
df['total_sqft'] = df['sq_ft'].apply(splitting_sqft)

In [8]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,BHK,price,per_month_emi,total_sqft
0,2 BHK Apartment for sale in Vaiduwadi,"Pokar Colony, Vaiduwadi,Nashik",923 sq.ft,Satendra Pandey,₹27.5 L\nEMI starts at ₹14.56 K,Apartment,new,2,27.5,14.56,923
1,3 BHK Apartment for sale in Satpur,"Mblu 2,Ganesh Nagar, Satpur,Nashik",1900 sq.ft,Metadesign India Pvt Ltd,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,new,3,75.0,39.72,1900
2,2 BHK Apartment for sale in Nashik Road,"Ozone,Nashik Road, Nashik",1044 sq.ft,M L Developers,₹42.11 L\nEMI starts at ₹22.30 K,Apartment,new,2,42.11,22.30,1044
3,3 BHK Apartment for sale in Nashik Road,"Anmol Nayantara Estate,Nashik Road, Nashik",1808 sq.ft,Rupak,₹1.1 Cr\nEMI starts at ₹54.61 K,Apartment,new,3,110.0,54.61,1808
4,1 BHK Apartment for sale in Gangapur,"Aarambh Apartment,Gangapur, Nashik",690 sq.ft,Divyesh Kothari,₹26.2 L\nEMI starts at ₹13.87 K,Apartment,new,1,26.2,13.87,690
...,...,...,...,...,...,...,...,...,...,...,...
812,1 BHK Apartment for sale in Nashik Road,"Matoshri Nagar, Nashik Road,Nashik",675 sq.ft,Harshal,₹17.0 L\nEMI starts at ₹9.00 K,Apartment,new,1,17.0,9.00,675
813,1 BHK Apartment for sale in Indira Nagar,"Aaryavarta,Kala Nagar, Indira Nagar,Nashik",703 sq.ft,Anup Vazare,₹23.5 L\nEMI starts at ₹12.44 K,Apartment,new,1,23.5,12.44,703
814,3 BHK Apartment for sale in Indira Nagar,"Kamod Nagar, Indira Nagar,Nashik",1355 sq.ft,Rahil Vij,₹55.0 L\nEMI starts at ₹29.13 K,Apartment,new,3,55.0,29.13,1355
815,3 BHK Apartment for sale in Indira Nagar,"Kala Nagar, Indira Nagar,Nashik",1306 sq.ft,Bharti Tani,₹45.0 L\nEMI starts at ₹23.83 K,Apartment,new,3,45.0,23.83,1306
816,2 BHK Apartment for sale in Sharda Vihar,"Nandanbaug apartment ,Sharda Vihar, Nashik",1010 sq.ft,Dinesh Mandlik,₹35.0 L\nEMI starts at ₹18.53 K,Apartment,new,2,35.0,18.53,1010

In [9]:
df.drop(columns=['name','sq_ft','emi'],inplace = True)

In [10]:
df

,address,owners,housetype,house_condition,BHK,price,per_month_emi,total_sqft
0,"Pokar Colony, Vaiduwadi,Nashik",Satendra Pandey,Apartment,new,2,27.5,14.56,923
1,"Mblu 2,Ganesh Nagar, Satpur,Nashik",Metadesign India Pvt Ltd,Apartment,new,3,75.0,39.72,1900
2,"Ozone,Nashik Road, Nashik",M L Developers,Apartment,new,2,42.11,22.30,1044
3,"Anmol Nayantara Estate,Nashik Road, Nashik",Rupak,Apartment,new,3,110.0,54.61,1808
4,"Aarambh Apartment,Gangapur, Nashik",Divyesh Kothari,Apartment,new,1,26.2,13.87,690
...,...,...,...,...,...,...,...,...
812,"Matoshri Nagar, Nashik Road,Nashik",Harshal,Apartment,new,1,17.0,9.00,675
813,"Aaryavarta,Kala Nagar, Indira Nagar,Nashik",Anup Vazare,Apartment,new,1,23.5,12.44,703
814,"Kamod Nagar, Indira Nagar,Nashik",Rahil Vij,Apartment,new,3,55.0,29.13,1355
815,"Kala Nagar, Indira Nagar,Nashik",Bharti Tani,Apartment,new,3,45.0,23.83,1306
816,"Nandanbaug apartment ,Sharda Vihar, Nashik",Dinesh Mandlik,Apartment,new,2,35.0,18.53,1010

In [12]:
df.tail(45)

,address,owners,housetype,house_condition,BHK,price,per_month_emi,total_sqft
772,"GURUKRUPA HEIGHTS,Indira Nagar, Nashik",Rajesh Makwana,Apartment,new,2,30.4,16.10,950
773,"GAJANAND APPARTMENT,Indira Nagar, Nashik",Rajesh Makwana,Apartment,new,2,33.33,17.65,890
774,"Sriniketan apt,Radha Vasudev Batavia Nagar, Go...",Mokshad Patil,Apartment,new,2,47.0,24.89,1000
775,"Swami Samarth Nagar, Nashik Road,Nashik",Abhijeet Dhokrat,Apartment,new,2,35.0,18.53,1140
776,"Chitracoot Indira Nagar Roongtha Group,Kala Na...",Shree,Apartment,new,1,27.0,14.30,750
777,"Om Sai Residency,Dhurav Nagar, Satpur,Nashik",ShankarRao Godge,Apartment,new,1,15.99,8.47,541
778,"Vivek sankul apartment,Anand Colony, Nashik",Ajit,Apartment,new,1,15.0,7.94,725
779,"ShivprakashAppartrmenShivprakashAppartrment,Pa...",Yogita,Apartment,new,1,17.0,9.00,560
780,"Sriniketan apt,Radha Vasudev Batavia Nagar, Go...",Mokshad Patil,Apartment,new,2,49.0,25.95,1000
781,"Pacific Prabhu Sparsh, Sadguru Nagar, Nashik",Rahul Chopade,Apartment,new,3,75.0,39.72,1400
782,"Shri tirumala Aasha ,Chetana Nagar, Rane Nagar...",Sachin Suresh Pofale,Apartment,new,2,31.0,16.42,660
783,"sm developers,Radha Vasudev Batavia Nagar, Gov...",Bj_Elec,Apartment,new,2,55.0,29.13,1225
784,"Dnyaneshwar Nagar, Pathardi Phata,Nashik",Vijay Dhekale,Apartment,new,2,27.0,14.30,850
785,"Prabhu Nakshtra,Gangapur, Nashik",Tejas Oka,Apartment,new,3,70.0,37.07,1500
786,"Makhmalabad, Nashik",Satish Choudhary,Apartment,new,1,14.0,7.41,550
787,"Dattaraj appartment A,Makhmalabad, Nashik",Satish Choudhary,Apartment,new,1,14.0,7.41,550
788,"Makhmalabad, Nashik",Satish Choudhary,Apartment,new,1,14.0,7.41,550
789,"Saraf Bazar, Panchavati,Nashik",Rahul,Apartment,new,2,26.0,13.77,650
790,"College Road, Nashik",Dushyant,Apartment,new,2,62.0,32.83,1050
791,"Kala Nagar, Indira Nagar,Nashik",Shree,Apartment,new,1,26.5,14.03,750
792,"Chamunda Ashish ,Kala Nagar, Indira Nagar,Nashik",Ashwini,Apartment,new,1,16.0,8.47,650
793,"Ashtavinayak Residency, Dawkhar Wadi, Nashik R...",Akshay Patel,Apartment,new,2,85.5,42.45,1900
794,"Ashtavinayak Residency, Nashik Road, Nashik",Akshay Patel,Apartment,new,3,99.0,49.15,2200
795,"Deepali Nagar, Nashik",DEEPAK KAKADE,Apartment,new,2,35.0,18.53,790
796,"Nilanjan Classic,Satpur, Nashik",Chetan Anil Chavan,Apartment,new,1,22.0,11.65,625
797,"Datey Nagar, Veer Sawarkar Nagar,Nashik",Gangadhar Joshi,Apartment,new,4,160.0,79.43,2489
798,"Amrutdham, Nashik",Panditpankaj,Apartment,new,1 RK Apartment for sale in Amrutdham,14.0,7.41,460
799,"Prathamaj,Serene Meadows, Anandwalli Gaon,Nashik",Samarth Nikam,Apartment,new,3,72.0,38.13,1650
800,"Jogeshwari Realtors,Adke Nagar, Deolali Gaon,N...",Sarang Warkhede,Apartment,new,2,28.5,15.09,950
801,"Kala Nagar, Indira Nagar,Nashik",Vedika Vaishnav,Apartment,new,1,19.5,10.33,605
802,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",Metadesign India Pvt Ltd,Apartment,new,2,39.5,20.92,995
803,"Garden View Apartment,Kala Nagar, Indira Nagar...",Tusharsonar,Apartment,new,1,23.0,12.18,730
804,"Ekdant Nagar, Nashik",Nikhil,Apartment,new,2,24.5,12.97,800
805,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Sanjeevani Wankhede,Apartment,new,1,30.0,15.89,550
806,"Khutwad Nagar, Nashik",SAVITA DESHMUKH,Apartment,new,1,15.0,7.94,500
807,"Munindhar Heights,Vrindavan Nagar, Nashik",Om Infra Buildcon Pvt.Ltd.,Apartment,new,1,20.5,10.86,620
808,"Sai residency,Dnyaneshwar Nagar, Pathardi Phat...",Vinod Yeram,Apartment,new,1,20.0,10.59,650
809,"Sinnar Taluka, Nashik",Tejas Ghodekar,Apartment,new,1,18.0,9.53,900
810,"Sukhkarta Apartment, Gayakhe Colony, Nashik Ro...",Pramodvirkayde,Apartment,new,1,15.5,8.21,750
811,"Dwarka, Nashik",Bharti Tani,Apartment,new,3,75.0,39.72,1800
812,"Matoshri Nagar, Nashik Road,Nashik",Harshal,Apartment,new,1,17.0,9.00,675
813,"Aaryavarta,Kala Nagar, Indira Nagar,Nashik",Anup Vazare,Apartment,new,1,23.5,12.44,703
814,"Kamod Nagar, Indira Nagar,Nashik",Rahil Vij,Apartment,new,3,55.0,29.13,1355
815,"Kala Nagar, Indira Nagar,Nashik",Bharti Tani,Apartment,new,3,45.0,23.83,1306
816,"Nandanbaug apartment ,Sharda Vihar, Nashik",Dinesh Mandlik,Apartment,new,2,35.0,18.53,1010

In [13]:
df.to_csv('data4')