In [ ]:
https://housing.com/in/buy/searches/D1H3M1P5eetqxj34ghuz32h

In [1]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/D1H3M1P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_41 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '601'
        if m in page_41.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


#    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
#        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-70qvj9')


        total_name.append(name.text)
#        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
#    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('df4')

name 608
address 608
sqft 608
owners 608
emi 608

In [6]:
df['housetype'] = 'Apartment'
df['house_condition'] = 'old'

In [7]:
df.describe()

,name,address,sq_ft,owners,emi,housetype,house_condition
count,608,608,608,608,608,608,608
unique,123,300,264,122,255,1,1
top,2 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",1050 sq.ft,Ejaj Sayyad,₹35.0 L\nEMI starts at ₹18.53 K,Apartment,old
freq,96,39,17,59,26,608,608

In [6]:
df.to_csv('housing_data4')

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('housing_data4',index_col=0)

In [3]:
df['housetype'] = 'Apartment'
df['house_condition'] = 'new'

In [4]:
df.head(34)

,name,address,sq_ft,owners,emi,housetype,house_condition
0,Ashoka Atharva Heights,"Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new
5,2 BHK Apartment for sale in Samta Nagar,"Shree Sukhakarta Palace, Samta Nagar, Nashik",1250 sq.ft,Sumit Acharya,₹47.0 L\nEMI starts at ₹24.89 K,Apartment,new
6,2 BHK Apartment for sale in Ganesh Baba Nagar,"Karmaa Pinnacle A Wing, Ganesh Baba Nagar, Nashik",1000 sq.ft,Sumit Acharya,₹50.0 L\nEMI starts at ₹26.48 K,Apartment,new
7,2 BHK Apartment for sale in Kalpataru Nagar,"Ashoka Royale, Kalpataru Nagar, Nashik",960 sq.ft,Sumit Acharya,₹50.0 L\nEMI starts at ₹26.48 K,Apartment,new
8,2 BHK Apartment for sale in Nashik Road,"Shilpa vrindavan,Adhav Nagar, Nashik Road,Nashik",726 sq.ft,Kunal Bhalerao,₹25.0 L\nEMI starts at ₹13.24 K,Apartment,new
9,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",848 sq.ft,Ashoka Realty,₹34.5 L\nEMI starts at ₹18.27 K,Apartment,new
10,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",856 sq.ft,Ashoka Realty,₹34.7 L\nEMI starts at ₹18.38 K,Apartment,new
11,1 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",741 sq.ft,Ashoka Realty,₹30.7 L\nEMI starts at ₹16.26 K,Apartment,new
12,3 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",1166 sq.ft,Ashoka Realty,₹45.5 L\nEMI starts at ₹24.09 K,Apartment,new
13,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",665 sq.ft,Ashoka Realty,₹26.5 L\nEMI starts at ₹14.03 K,Apartment,new
14,3 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",1333 sq.ft,Ashoka Realty,₹53.0 L\nEMI starts at ₹28.07 K,Apartment,new
15,3 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",2060 sq.ft,Ashoka Realty,₹78.9 L\nEMI starts at ₹39.17 K,Apartment,new
16,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",1122 sq.ft,Ashoka Realty,₹44.0 L\nEMI starts at ₹23.30 K,Apartment,new
17,3 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",1175 sq.ft,Ashoka Realty,₹45.7 L\nEMI starts at ₹24.20 K,Apartment,new
18,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",944 sq.ft,Ashoka Realty,₹37.7 L\nEMI starts at ₹19.96 K,Apartment,new
19,2 BHK Apartment for sale in Nashik Road,"Atharva Heights, Nashik Road, Nashik",701 sq.ft,Ashoka Realty,₹29.25 L\nEMI starts at ₹15.49 K,Apartment,new
20,3 BHK Apartment for sale in Nashik Road,"Nashik Road, Nashik",1225 sq.ft,Nilesh Pardeshi,₹75.0 L\nEMI starts at ₹39.72 K,Apartment,new
21,2 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",701 sq.ft,Ashoka Realty,₹30.99 L\nEMI starts at ₹16.41 K,Apartment,new
22,2 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",856 sq.ft,Ashoka Realty,₹36.74 L\nEMI starts at ₹19.46 K,Apartment,new
23,3 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",1175 sq.ft,Ashoka Realty,₹50.33 L\nEMI starts at ₹26.65 K,Apartment,new
24,2 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",665 sq.ft,Ashoka Realty,₹29.65 L\nEMI starts at ₹15.70 K,Apartment,new
25,2 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",848 sq.ft,Ashoka Realty,₹36.48 L\nEMI starts at ₹19.32 K,Apartment,new
26,3 BHK Apartment for sale in Nashik Road,"Ashoka Atharva Heights, Nashik Road, Nashik",1166 sq.ft,Ashoka Realty,₹49.96 L\nEMI starts at ₹26.46 K,Apartment,new
27,2 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1440 sq.ft,Trilok Girhepunje,₹57.0 L\nEMI starts at ₹30.18 K,Apartment,new
28,2 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",985 sq.ft,Trilok Girhepunje,₹48.0 L\nEMI starts at ₹25.42 K,Apartment,new
29,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1135 sq.ft,Trilok Girhepunje,₹58.0 L\nEMI starts at ₹30.71 K,Apartment,new
30,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1135 sq.ft,Trilok Girhepunje,₹58.0 L\nEMI starts at ₹30.71 K,Apartment,new
31,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1295 sq.ft,Trilok Girhepunje,₹62.0 L\nEMI starts at ₹32.83 K,Apartment,new
32,3 BHK Apartment for sale in Nashik Road,"Gurukunj CHSL, Adhav Nagar, Nashik Road,Nashik",1170 sq.ft,Pranay Bapu Chavan,₹60.0 L\nEMI starts at ₹31.77 K,Apartment,new
33,1 BHK Apartment for sale in Sneha Nagar,"manthan,Gorksha Nagar, Sneha Nagar,Nashik",850 sq.ft,Mayur Hire,₹24.0 L\nEMI starts at ₹12.71 K,Apartment,new

In [5]:
df.sq_ft.unique()

array(['2, 3 BHK Apartments', '980 sq.ft', '1600 sq.ft', '1918 sq.ft',
       '1150 sq.ft', '1250 sq.ft', '1000 sq.ft', '960 sq.ft', '726 sq.ft',
       '848 sq.ft', '856 sq.ft', '741 sq.ft', '1166 sq.ft', '665 sq.ft',
       '1333 sq.ft', '2060 sq.ft', '1122 sq.ft', '1175 sq.ft',
       '944 sq.ft', '701 sq.ft', '1225 sq.ft', '1440 sq.ft', '985 sq.ft',
       '1135 sq.ft', '1295 sq.ft', '1170 sq.ft', '850 sq.ft',
       '1190 sq.ft', '1129 sq.ft', '1100 sq.ft', '981 sq.ft',
       '1083 sq.ft', '3500 sq.ft', '1209 sq.ft', '1480 sq.ft',
       '1630 sq.ft', '1750 sq.ft', '1921 sq.ft', '560 sq.ft',
       '1235 sq.ft', '1010 sq.ft', '720 sq.ft', '550 sq.ft', '1368 sq.ft',
       '990 sq.ft', '1180 sq.ft', '1369 sq.ft', '510 sq.ft', '1200 sq.ft',
       '1280 sq.ft', '738 sq.ft', '1340 sq.ft', '800 sq.ft', '1030 sq.ft',
       '855 sq.ft', '835 sq.ft', '570 sq.ft', '876 sq.ft', '969 sq.ft',
       '950 sq.ft', '1066 sq.ft', '1321 sq.ft', '1241 sq.ft', '895 sq.ft',
       '903 sq.ft', '1050 sq.ft', '1300 sq.ft', '1375 sq.ft',
       '1070 sq.ft', '1056 sq.ft', '845 sq.ft', '1063 sq.ft',
       '1138 sq.ft', '865 sq.ft', '1028 sq.ft', '554 sq.ft', '830 sq.ft',
       '631 sq.ft', '1940 sq.ft', '1116 sq.ft', '1625 sq.ft',
       '1560 sq.ft', '1350 sq.ft', '1650 sq.ft', '1535 sq.ft',
       '1366 sq.ft', '1587 sq.ft', '1550 sq.ft', '917 sq.ft',
       '1040 sq.ft', '1500 sq.ft', '1450 sq.ft', '1275 sq.ft',
       '1080 sq.ft', '1390 sq.ft', '880 sq.ft', '650 sq.ft', '630 sq.ft',
       '595 sq.ft', '1700 sq.ft', '900 sq.ft', '840 sq.ft', '890 sq.ft',
       '870 sq.ft', '655 sq.ft', '1039 sq.ft', '2200 sq.ft', '1400 sq.ft',
       '1310 sq.ft', '1090 sq.ft', '750 sq.ft', '640 sq.ft', '657 sq.ft',
       '808 sq.ft', '1076 sq.ft', '894 sq.ft', '2000 sq.ft', '591 sq.ft',
       '877 sq.ft', '1822 sq.ft', '955 sq.ft', '871 sq.ft', '1142 sq.ft',
       '700 sq.ft', '1006 sq.ft', '940 sq.ft', '1130 sq.ft', '1900 sq.ft',
       '1313 sq.ft', '730 sq.ft', '1140 sq.ft', '1323 sq.ft',
       '1445 sq.ft', '1269 sq.ft', '1304 sq.ft', '4250 sq.ft',
       '1950 sq.ft', '1365 sq.ft', '1330 sq.ft', '721 sq.ft',
       '1184 sq.ft', '1689 sq.ft', '1785 sq.ft', '1293 sq.ft',
       '2160 sq.ft', '1800 sq.ft', '1783 sq.ft', '1306 sq.ft',
       '2100 sq.ft', '1212 sq.ft', '1840 sq.ft', '580 sq.ft',
       '1125 sq.ft', '735 sq.ft', '1668 sq.ft', '875 sq.ft', '818 sq.ft',
       '970 sq.ft', '2250 sq.ft', '1245 sq.ft', '590 sq.ft', '1923 sq.ft',
       '1228 sq.ft', '1720 sq.ft', '2280 sq.ft', '1580 sq.ft',
       '1880 sq.ft', '1422 sq.ft', '1571 sq.ft', '754 sq.ft', '971 sq.ft',
       '1253 sq.ft', '523 sq.ft', '932 sq.ft', '860 sq.ft', '460 sq.ft',
       '450 sq.ft', '600 sq.ft', '1007 sq.ft', '711 sq.ft', '799 sq.ft',
       '732 sq.ft', '2700 sq.ft', '1501 sq.ft', '1589 sq.ft',
       '1631 sq.ft', '1825 sq.ft', '957 sq.ft', '635 sq.ft', '965 sq.ft',
       '973 sq.ft', '1344 sq.ft', '1021 sq.ft', '1003 sq.ft', '866 sq.ft',
       '1027 sq.ft', '885 sq.ft', '1680 sq.ft', '839 sq.ft', '3100 sq.ft',
       '1215 sq.ft', '1085 sq.ft', '1081 sq.ft', '1069 sq.ft',
       '680 sq.ft', '911 sq.ft', '778 sq.ft', '1730 sq.ft', '500 sq.ft',
       '945 sq.ft', '675 sq.ft', '1055 sq.ft', '977 sq.ft', '1405 sq.ft',
       '820 sq.ft', '810 sq.ft', '2800 sq.ft', '2300 sq.ft', '805 sq.ft',
       '660 sq.ft', '881 sq.ft', '620 sq.ft', '615 sq.ft', '555 sq.ft',
       '1132 sq.ft', '625 sq.ft', '585 sq.ft', '1045 sq.ft', '886 sq.ft',
       '930 sq.ft', '1348 sq.ft', '670 sq.ft', '504 sq.ft', '715 sq.ft',
       '946 sq.ft', '1408 sq.ft', '910 sq.ft', '863 sq.ft', '813 sq.ft',
       '740 sq.ft', '690 sq.ft', '422 sq.ft', '653 sq.ft', '574 sq.ft',
       '1015 sq.ft', '753 sq.ft', '575 sq.ft', '1155 sq.ft', '722 sq.ft',
       '767 sq.ft', '697 sq.ft', '593 sq.ft', '610 sq.ft', '573 sq.ft',
       '779 sq.ft', '1018 sq.ft', '417 sq.ft', '780 sq.ft', '612 sq.ft',
       '598 sq.ft', '619 sq.ft', '938 sq.ft', '925 sq.ft', '710 sq.ft'],
      dtype=object)

In [6]:
df.name.unique()

array(['Ashoka Atharva Heights',
       '2 BHK Apartment for sale in Indira Nagar',
       '3 BHK Apartment for sale in Pathardi Phata',
       '3 BHK Apartment for sale in Indira Nagar',
       '2 BHK Apartment for sale in Samta Nagar',
       '2 BHK Apartment for sale in Ganesh Baba Nagar',
       '2 BHK Apartment for sale in Kalpataru Nagar',
       '2 BHK Apartment for sale in Nashik Road',
       '1 BHK Apartment for sale in Nashik Road',
       '3 BHK Apartment for sale in Nashik Road',
       '2 BHK Apartment for sale in Pathardi Phata',
       '1 BHK Apartment for sale in Sneha Nagar',
       '2 BHK Apartment for sale in Vijaynagar Colony',
       '3 BHK Apartment for sale in Canada Corner',
       '2 BHK Apartment for sale in Panchavati',
       '2 BHK Apartment for sale in Professor Colony',
       '5 BHK Apartment for sale in Hirawadi',
       '3 BHK Apartment for sale in Rane Nagar',
       '2 BHK Apartment for sale in Deolali Gaon',
       '3 BHK Apartment for sale in Shivshakti Nagar',
       '3 BHK Apartment for sale in Gangapur',
       '1 BHK Apartment for sale in Satpur',
       '1 BHK Apartment for sale in Anandwalli Gaon',
       '2 BHK Apartment for sale in Govind Nagar',
       '2 BHK Apartment for sale in Satpur',
       '1 BHK Apartment for sale in Panchak',
       '1 BHK Apartment for sale in Makhmalabad',
       '3 BHK Apartment for sale in Kalpataru Nagar',
       '3 BHK Apartment for sale in Panchavati',
       '1 BHK Apartment for sale in Ojhar',
       '2 BHK Apartment for sale in Ajmeri Nagar',
       '3 BHK Apartment for sale in Anandwalli Gaon',
       '2 BHK Apartment for sale in Rajiv Nagar',
       '2 BHK Apartment for sale in Anandwalli Gaon',
       '2 BHK Apartment for sale in Savata Nagar',
       '3 BHK Apartment for sale in Govind Nagar',
       '1 BHK Apartment for sale in Chunchale',
       '2 BHK Apartment for sale in Veer Sawarkar Nagar',
       '2 BHK Apartment for sale in Deepali Nagar',
       '2 BHK Apartment for sale in Amrutdham',
       '2 BHK Apartment for sale in Mahajan Nagar',
       '1 BHK Apartment for sale in Dwarka',
       '2 BHK Apartment for sale in Adgaon',
       '3 BHK Apartment for sale in Satpur',
       '3 BHK Apartment for sale in Dwarka',
       '3 BHK Apartment for sale in Sadguru Nagar',
       '3 BHK Apartment for sale in College Road',
       '3 BHK Apartment for sale in Jagtap Nagar',
       '3 BHK Apartment for sale in Matoshree Nagar',
       '2 BHK Apartment for sale in Makhmalabad',
       '1 BHK Apartment for sale in Pathardi Phata',
       '1 BHK Apartment for sale in Shramik Nagar',
       '3 BHK Apartment for sale in Makhmalabad',
       '1 BHK Apartment for sale in Indira Nagar',
       '2 BHK Apartment for sale in Sadguru Nagar',
       '2 BHK Apartment for sale in Loksahakar Nagar',
       '1 BHK Apartment for sale in Niphad',
       '2 BHK Apartment for sale in Niphad',
       '2 BHK Apartment for sale in Rane Nagar',
       '2 BHK Apartment for sale in Hirawadi',
       '1 BHK Apartment for sale in Janata Raja Colony',
       '2 BHK Apartment for sale in Ayodhya Nagari',
       '2 BHK Apartment for sale in Khutwad Nagar',
       '2 BHK Apartment for sale in Gangapur',
       '4 BHK Apartment for sale in College Road',
       '2 BHK Apartment for sale in Dwarka',
       '1 BHK Apartment for sale in Vaiduwadi',
       '2 BHK Apartment for sale in Jagtap Nagar',
       '3 BHK Apartment for sale in Dr.Homi Bhabha Nagar',
       '3 BHK Apartment for sale in Samta Nagar',
       '1 BHK Apartment for sale in Gangapur',
       '2 BHK Apartment for sale in Dr.Homi Bhabha Nagar',
       '3 BHK Apartment for sale in Lasalgaon',
       '2 BHK Apartment for sale in Modkeshwar Nagar',
       '3 BHK Apartment for sale in Modkeshwar Nagar',
       '4 BHK Apartment for sale in Anandwalli Gaon',
       '3 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Ghatkopar',
       '2 BHK Apartment for sale in Wadala Gaon',
       '1 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Veer Sawarkar Nagar',
       '1 BHK Apartment for sale in Veer Sawarkar Nagar',
       '1 BHK Apartment for sale in Pimpalgaon Bahula',
       '4 BHK Apartment for sale in Gangapur',
       '3 BHK Apartment for sale in Khutwad Nagar',
       '2 BHK Apartment for sale in Madhuban Colony',
       '1 BHK Apartment for sale in Ayodhya Nagari',
       '3 BHK Apartment for sale in Trimbak',
       '2 BHK Apartment for sale in Chandshi',
       '2 BHK Apartment for sale in Matoshree Nagar',
       '4 BHK Apartment for sale in Veer Sawarkar Nagar',
       '2 BHK Apartment for sale in Kishor Nagar',
       '1 RK Apartment for sale in Bhor Town Ship',
       '2 BHK Apartment for sale in Uttara Nagar',
       '3 BHK Apartment for sale in Vijaynagar Colony',
       '2 BHK Apartment for sale in Parijat Nagar',
       '3 BHK Apartment for sale in Thatte Nagar',
       '3 BHK Apartment for sale in D. K. Nagar',
       '3 BHK Apartment for sale in Sharanpur',
       '4 BHK Apartment for sale in Loksahakar Nagar',
       '3 BHK Apartment for sale in Loksahakar Nagar',
       '1 BHK Apartment for sale in Loksahakar Nagar',
       '1 BHK Apartment for sale in Pawar Wadi',
       '2 BHK Apartment for sale in Sharda Vihar',
       '1 BHK Apartment for sale in Govind Nagar',
       '2 BHK Apartment for sale in Hanuman Nagar',
       '2 BHK Apartment for sale in Manik Nagar',
       '2 BHK Apartment for sale in DGP Nagar',
       '2 BHK Apartment for sale in Palase',
       '1 BHK Apartment for sale in Palase',
       '2 BHK Apartment for sale in Tagore Nagar',
       '1 RK Apartment for sale in Nashik Road',
       '4 BHK Apartment for sale in Ashwin Nagar',
       '3 BHK Apartment for sale in Chandshi',
       '1 BHK Apartment for sale in Sharda Vihar',
       '1 BHK Apartment for sale in Eklahare',
       '2 BHK Apartment for sale in Eklahare',
       '1 BHK Apartment for sale in Professor Colony',
       '2 BHK Apartment for sale in Janata Raja Colony',
       '2 BHK Apartment for sale in Vrindavan Nagar',
       '1 BHK Apartment for sale in Vrindavan Nagar',
       '1 BHK Apartment for sale in Hirawadi',
       '2 BHK Apartment for sale in College Road'], dtype=object)

In [7]:
df.loc[df['sq_ft']=='2, 3 BHK Apartments','name'] = '2, 3 BHK Apartments' # replacing 0 the row name of atharva heights to 2,bhk apartment

In [8]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new
...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new

In [9]:
s= '980 sq.ft'
s.split()[0]

'980'

In [10]:
def splitting_sqft(value):
    return value.split()[0]

In [11]:
df['total_sqft'] = df['sq_ft'].apply(splitting_sqft)

In [12]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,"2,"
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150
...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710

In [13]:
df.loc[df['total_sqft']=='2,','total_sqft'] = 'NA'

In [14]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150
...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710

In [15]:
#s= '2 BHK Apartment for sale in Indira Naga'
#s.split(sep=' BHK')[0]
def name_splitter(value):
    return value.split(sep=' BHK')[0]

In [16]:
df['BHK'] = df['name'].apply(name_splitter)

In [17]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft,BHK
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA,"2, 3"
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980,2
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600,3
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918,3
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150,3
...,...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690,1
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885,2
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710,1

In [18]:
s='₹43.0 L\nEMI starts at ₹22.77 K'
s=s.replace('₹',' L')
s.split(sep=' L')
float(s.split(sep=' ')[0])*100

ValueError: could not convert string to float: ''

In [19]:
def price_splitter(value):
    
    
    value = value.replace('₹',' L')
    value1 =value.split(sep=' L')[1]
    
    if 'Cr\nEMI starts at'in value1:
        value2 = float(value1.split(sep=' ')[0])*100
        return round(value2,ndigits=1)
    else:
        return value1

In [20]:
df['price'] = df['emi'].apply(price_splitter)

In [21]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft,BHK,price
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA,"2, 3",21.51
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980,2,43.0
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600,3,59.5
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918,3,80.0
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150,3,51.0
...,...,...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690,1,27.26
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885,2,34.97
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710,1,28.05

In [22]:
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    value = value.replace(' K','₹')
    return value.split(sep='₹')[2]

In [23]:
s='₹43.0 L\nEMI starts at ₹22.77 K'
emi_splitter(s)

'22.77'

In [24]:
df['per_month_emi'] = df['emi'].apply(emi_splitter)

In [25]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft,BHK,price,per_month_emi
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA,"2, 3",21.51,11.39
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980,2,43.0,22.77
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600,3,59.5,31.51
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918,3,80.0,39.72
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150,3,51.0,27.01
...,...,...,...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690,1,27.26,14.44
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885,2,34.97,18.52
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710,1,28.05,14.86

In [26]:
df.price.unique()

array(['21.51', '43.0', '59.5', '80.0', '51.0', '47.0', '50.0', '25.0',
       '34.5', '34.7', '30.7', '45.5', '26.5', '53.0', '78.9', '44.0',
       '45.7', '37.7', '29.25', '75.0', '30.99', '36.74', '50.33',
       '29.65', '36.48', '49.96', '57.0', '48.0', '58.0', '62.0', '60.0',
       '24.0', '35.0', '84.0', '2.5', '40.0', 125.0, '55.0', '68.0',
       '90.0', '78.0', '15.0', '12.0', '51.51', '20.62', '31.0', '56.0',
       '36.0', '45.0', '65.0', '15.5', '23.61', '59.0', '33.0', '46.0',
       '28.51', '29.5', '27.0', '72.65', '30.0', '32.0', '15.51', '42.0',
       '32.73', '34.0', '28.55', '16.51', '19.0', '27.5', '76.0', '38.0',
       '57.5', '70.0', '71.99', '70.01', '72.0', '80.01', '75.11',
       '68.51', 110.0, '54.0', '47.51', '38.01', '22.68', '37.72',
       '27.43', '27.69', '14.0', '16.0', '15.71', '37.0', '26.51',
       '24.51', '26.0', '85.0', '22.0', '52.0', '19.5', '21.93', 231.0,
       '62.1', '90.91', '41.71', '81.0', '49.51', '50.11', '40.01',
       '50.01', 208.0, '69.0', 320.0, '23.0', '87.0', '65.1', '63.0',
       '21.0', 117.0, '52.5', '20.0', 185.0, 105.0, '28.5', 113.0, 109.0,
       '29.0', '62.5', '84.5', '60.5', '14.75', 135.0, 140.0, 155.0,
       112.0, '66.0', '94.0', 104.0, '95.0', '49.0', '41.5', '41.0',
       '31.51', '20.65', '32.62', '11.0', '44.47', '49.92', '36.12',
       150.0, '40.19', '37.09', 115.0, '71.51', 124.0, '46.5', '47.1',
       '75.1', '67.51', '53.11', '45.01', '38.45', '48.5', '69.5',
       '24.25', '34.96', '25.99', '23.49', '67.5', 161.0, '70.5', '80.6',
       '44.99', '61.0', 153.0, '37.34', '45.44', '26.7', '32.4', '28.0',
       120.0, '16.77', '13.91', '16.5', '15.85', '27.51', '15.21',
       '13.21', '12.91', '13.85', '13.86', '19.84', '38.51', '13.3',
       '67.55', '47.4', '18.0', '23.81', '26.67', '19.36', '37.38',
       '31.5', '33.5', '15.6', '14.56', '14.53', '30.21', '28.46',
       '22.38', '22.1', '14.77', '34.81', '17.5', '22.5', '36.54', '23.1',
       '14.51', '20.6', '19.6', '22.05', '23.4', '20.5', '23.17', '23.45',
       '23.12', '20.11', '21.19', '20.13', '20.06', '20.76', '18.94',
       '27.27', '33.59', '14.6', '21.59', '18.25', '14.95', '14.88',
       '18.75', '18.79', '19.05', '23.8', '17.36', '77.0', '36.26',
       '81.81', '34.11', '22.31', '36.55', '34.97', '34.37', '45.54',
       '27.26', '47.41', '28.05'], dtype=object)

In [27]:
df.per_month_emi.unique()

array(['11.39', '22.77', '31.51', '39.72', '27.01', '24.89', '26.48',
       '13.24', '18.27', '18.38', '16.26', '24.09', '14.03', '28.07',
       '39.17', '23.30', '24.20', '19.96', '15.49', '16.41', '19.46',
       '26.65', '15.70', '19.32', '26.46', '30.18', '25.42', '30.71',
       '32.83', '31.77', '12.71', '18.53', '41.70', '1.32', '21.18',
       '62.06', '29.13', '36.01', '44.68', '38.72', '7.94', '6.35',
       '27.28', '10.92', '16.42', '29.66', '19.06', '23.83', '34.42',
       '8.21', '12.50', '31.24', '17.48', '24.36', '15.10', '15.62',
       '14.30', '38.47', '15.89', '16.95', '22.24', '17.33', '18.00',
       '15.12', '8.74', '10.06', '14.56', '37.73', '20.12', '30.45',
       '37.07', '38.12', '38.13', '37.29', '36.28', '54.61', '28.60',
       '25.16', '20.13', '12.01', '19.97', '14.53', '14.66', '7.41',
       '8.47', '8.32', '19.59', '14.04', '12.98', '13.77', '42.20',
       '11.65', '27.54', '10.33', '11.61', '1.15 Lacs', '32.89', '45.13',
       '22.09', '40.21', '26.22', '26.54', '21.19', '1.03 Lacs', '36.54',
       '1.59 Lacs', '12.18', '43.19', '34.47', '33.36', '11.12', '58.09',
       '27.80', '10.59', '91.85', '52.13', '15.09', '56.10', '54.11',
       '15.36', '33.10', '41.95', '32.04', '7.81', '67.02', '69.50',
       '76.95', '55.36', '34.95', '46.67', '51.63', '47.16', '25.95',
       '21.98', '21.71', '16.69', '10.94', '17.27', '5.83', '23.55',
       '26.44', '19.13', '74.47', '21.28', '19.64', '57.09', '37.87',
       '61.56', '24.62', '24.94', '37.28', '35.75', '28.12', '23.84',
       '20.36', '25.68', '36.80', '12.84', '18.51', '54.21', '13.76',
       '12.44', '79.93', '37.33', '40.01', '23.82', '32.30', '75.96',
       '19.77', '24.06', '14.14', '17.16', '14.83', '59.58', '8.88',
       '7.37', '8.39', '14.57', '8.05', '7.00', '6.84', '7.33', '7.34',
       '10.51', '20.39', '7.04', '35.77', '25.10', '9.53', '12.61',
       '14.12', '10.25', '19.79', '16.68', '17.74', '8.26', '7.71',
       '7.69', '16.00', '15.07', '11.85', '11.70', '7.82', '18.43',
       '9.27', '11.92', '19.35', '12.23', '7.68', '10.91', '10.38',
       '11.68', '12.39', '10.86', '12.27', '12.42', '12.24', '10.65',
       '11.22', '10.66', '10.62', '10.99', '10.03', '14.44', '17.79',
       '7.73', '11.43', '9.66', '7.92', '7.88', '9.93', '9.95', '10.09',
       '12.60', '9.19', '38.23', '19.20', '40.62', '18.06', '11.81',
       '18.52', '18.20', '24.11', '25.11', '14.86'], dtype=object)

In [28]:
s='1.1 Cr\nEMI starts at '
s.split(sep=' ')[0]

s=float(s.split(sep=' ')[0])*100
round(s,ndigits=1)

110.0

In [29]:
def chang_price_unit(value):
    if 'Cr\nEMI starts at'in value:
        value = float(value.split(sep=' ')[0])*100
        return round(value,ndigits=1)

In [30]:
df['price'] = df['price'].apply(chang_price_unit)

TypeError: argument of type 'float' is not iterable

In [31]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft,BHK,price,per_month_emi
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA,"2, 3",21.51,11.39
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980,2,43.0,22.77
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600,3,59.5,31.51
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918,3,80.0,39.72
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150,3,51.0,27.01
...,...,...,...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690,1,27.26,14.44
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885,2,34.97,18.52
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710,1,28.05,14.86

In [32]:
df.price.unique()

array(['21.51', '43.0', '59.5', '80.0', '51.0', '47.0', '50.0', '25.0',
       '34.5', '34.7', '30.7', '45.5', '26.5', '53.0', '78.9', '44.0',
       '45.7', '37.7', '29.25', '75.0', '30.99', '36.74', '50.33',
       '29.65', '36.48', '49.96', '57.0', '48.0', '58.0', '62.0', '60.0',
       '24.0', '35.0', '84.0', '2.5', '40.0', 125.0, '55.0', '68.0',
       '90.0', '78.0', '15.0', '12.0', '51.51', '20.62', '31.0', '56.0',
       '36.0', '45.0', '65.0', '15.5', '23.61', '59.0', '33.0', '46.0',
       '28.51', '29.5', '27.0', '72.65', '30.0', '32.0', '15.51', '42.0',
       '32.73', '34.0', '28.55', '16.51', '19.0', '27.5', '76.0', '38.0',
       '57.5', '70.0', '71.99', '70.01', '72.0', '80.01', '75.11',
       '68.51', 110.0, '54.0', '47.51', '38.01', '22.68', '37.72',
       '27.43', '27.69', '14.0', '16.0', '15.71', '37.0', '26.51',
       '24.51', '26.0', '85.0', '22.0', '52.0', '19.5', '21.93', 231.0,
       '62.1', '90.91', '41.71', '81.0', '49.51', '50.11', '40.01',
       '50.01', 208.0, '69.0', 320.0, '23.0', '87.0', '65.1', '63.0',
       '21.0', 117.0, '52.5', '20.0', 185.0, 105.0, '28.5', 113.0, 109.0,
       '29.0', '62.5', '84.5', '60.5', '14.75', 135.0, 140.0, 155.0,
       112.0, '66.0', '94.0', 104.0, '95.0', '49.0', '41.5', '41.0',
       '31.51', '20.65', '32.62', '11.0', '44.47', '49.92', '36.12',
       150.0, '40.19', '37.09', 115.0, '71.51', 124.0, '46.5', '47.1',
       '75.1', '67.51', '53.11', '45.01', '38.45', '48.5', '69.5',
       '24.25', '34.96', '25.99', '23.49', '67.5', 161.0, '70.5', '80.6',
       '44.99', '61.0', 153.0, '37.34', '45.44', '26.7', '32.4', '28.0',
       120.0, '16.77', '13.91', '16.5', '15.85', '27.51', '15.21',
       '13.21', '12.91', '13.85', '13.86', '19.84', '38.51', '13.3',
       '67.55', '47.4', '18.0', '23.81', '26.67', '19.36', '37.38',
       '31.5', '33.5', '15.6', '14.56', '14.53', '30.21', '28.46',
       '22.38', '22.1', '14.77', '34.81', '17.5', '22.5', '36.54', '23.1',
       '14.51', '20.6', '19.6', '22.05', '23.4', '20.5', '23.17', '23.45',
       '23.12', '20.11', '21.19', '20.13', '20.06', '20.76', '18.94',
       '27.27', '33.59', '14.6', '21.59', '18.25', '14.95', '14.88',
       '18.75', '18.79', '19.05', '23.8', '17.36', '77.0', '36.26',
       '81.81', '34.11', '22.31', '36.55', '34.97', '34.37', '45.54',
       '27.26', '47.41', '28.05'], dtype=object)

In [33]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition,total_sqft,BHK,price,per_month_emi
0,"2, 3 BHK Apartments","Nashik Road,Nashik","2, 3 BHK Apartments",Ashoka Realty,₹21.51 L - 38.01 L\nEMI starts at ₹11.39 K,Apartment,new,NA,"2, 3",21.51,11.39
1,2 BHK Apartment for sale in Indira Nagar,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",980 sq.ft,Sumit Acharya,₹43.0 L\nEMI starts at ₹22.77 K,Apartment,new,980,2,43.0,22.77
2,3 BHK Apartment for sale in Pathardi Phata,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",1600 sq.ft,Ganesh Gorhe,₹59.5 L\nEMI starts at ₹31.51 K,Apartment,new,1600,3,59.5,31.51
3,3 BHK Apartment for sale in Indira Nagar,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",1918 sq.ft,Ganesh Gorhe,₹80.0 L\nEMI starts at ₹39.72 K,Apartment,new,1918,3,80.0,39.72
4,3 BHK Apartment for sale in Pathardi Phata,"Jaikumar Parksyde Residences, Pandav Nagari, P...",1150 sq.ft,Sumit Acharya,₹51.0 L\nEMI starts at ₹27.01 K,Apartment,new,1150,3,51.0,27.01
...,...,...,...,...,...,...,...,...,...,...,...
603,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",690 sq.ft,Ashish Purwar,₹27.26 L\nEMI starts at ₹14.44 K,Apartment,new,690,1,27.26,14.44
604,3 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
605,2 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",885 sq.ft,Ashish Purwar,₹34.97 L\nEMI starts at ₹18.52 K,Apartment,new,885,2,34.97,18.52
606,3 BHK Apartment for sale in Satpur,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",1200 sq.ft,Ashish Purwar,₹47.41 L\nEMI starts at ₹25.11 K,Apartment,new,1200,3,47.41,25.11
607,1 BHK Apartment for sale in Satpur,"Lakshmi Township,Suyog Colony, Satpur,Nashik",710 sq.ft,Ashish Purwar,₹28.05 L\nEMI starts at ₹14.86 K,Apartment,new,710,1,28.05,14.86

In [34]:
 df.drop(columns=['name','sq_ft','emi'],inplace = True)

In [35]:
df

,address,owners,housetype,house_condition,total_sqft,BHK,price,per_month_emi
0,"Nashik Road,Nashik",Ashoka Realty,Apartment,new,NA,"2, 3",21.51,11.39
1,"Nerkar Ganesh Signifia, Indira Nagar, Nashik",Sumit Acharya,Apartment,new,980,2,43.0,22.77
2,"Karda Hari Vishwa, Buddha Vihar, Pathardi Phat...",Ganesh Gorhe,Apartment,new,1600,3,59.5,31.51
3,"Sanklecha The Metrozone, Kala Nagar, Indira Na...",Ganesh Gorhe,Apartment,new,1918,3,80.0,39.72
4,"Jaikumar Parksyde Residences, Pandav Nagari, P...",Sumit Acharya,Apartment,new,1150,3,51.0,27.01
...,...,...,...,...,...,...,...,...
603,"Lakshmi Township,Suyog Colony, Satpur,Nashik",Ashish Purwar,Apartment,new,690,1,27.26,14.44
604,"Lakshmi Township,Suyog Colony, Satpur,Nashik",Ashish Purwar,Apartment,new,1200,3,47.41,25.11
605,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",Ashish Purwar,Apartment,new,885,2,34.97,18.52
606,"Laxmi Town Ship,Suyog Colony, Satpur,Nashik",Ashish Purwar,Apartment,new,1200,3,47.41,25.11
607,"Lakshmi Township,Suyog Colony, Satpur,Nashik",Ashish Purwar,Apartment,new,710,1,28.05,14.86

In [36]:
df.to_csv('data5')