In [1]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [14]:

chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/D1H4M1P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_460 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '461'
        if m in page_460.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-nin1gj')


        total_name.append(name.text)
        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('housing_data')
#print(df)

name 469
address 469
sqft 469
owners 469
emi 469

In [2]:
df.head(10)

NameError: name 'df' is not defined

In [3]:
df.info()

NameError: name 'df' is not defined

In [17]:
df['house_condition'] = 'old'

In [18]:
df

,name,price,address,sq_ft,owners,emi,house_condition
0,2 BHK Apartment for sale in Niphad,₹11.49 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.09 K,old
1,2 BHK Apartment for sale in Samta Nagar,₹35.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",945 sq.ft,Sumit Acharya,EMI starts at ₹18.53 K,old
2,3 BHK Apartment for sale in Samta Nagar,₹46.99 L,"Samraat Dream Citi, Samta Nagar, Nashik",1160 sq.ft,Kartik Peshwe,EMI starts at ₹24.88 K,old
3,1 BHK Apartment for sale in Niphad,₹12.85 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.80 K,old
4,3 BHK Apartment for sale in Samta Nagar,₹42.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",1145 sq.ft,Sumit Acharya,EMI starts at ₹22.24 K,old
...,...,...,...,...,...,...,...
464,1 BHK Apartment for sale in Nashik Road,₹21.0 L,"Gayakhe Colony, Nashik Road,Nashik",650 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹11.12 K,old
465,2 BHK Apartment for sale in Nashik Road,₹55.0 L,"Anand Nagar, Nashik Road,Nashik",1150 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹29.13 K,old
466,2 BHK Apartment for sale in Nashik Road,₹23.0 L,"Gurudatta Nagar, Nashik Road,Nashik",980 sq.ft,Ejaj Sayyad,EMI starts at ₹12.18 K,old
467,2 BHK Apartment for sale in Vrindavan Nagar,₹28.0 L,"Vrindavan Nagar, Nashik",900 sq.ft,Ejaj Sayyad,EMI starts at ₹14.83 K,old
468,2 BHK Apartment for sale in Satpur,₹38.51 L,"Gulmohar Vihar, Satpur,Nashik",975 sq.ft,Ashish Purwar,EMI starts at ₹20.39 K,old

In [19]:
df['housetype'] = 'Apartment'

In [20]:
df

,name,price,address,sq_ft,owners,emi,house_condition,housetype
0,2 BHK Apartment for sale in Niphad,₹11.49 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.09 K,old,Apartment
1,2 BHK Apartment for sale in Samta Nagar,₹35.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",945 sq.ft,Sumit Acharya,EMI starts at ₹18.53 K,old,Apartment
2,3 BHK Apartment for sale in Samta Nagar,₹46.99 L,"Samraat Dream Citi, Samta Nagar, Nashik",1160 sq.ft,Kartik Peshwe,EMI starts at ₹24.88 K,old,Apartment
3,1 BHK Apartment for sale in Niphad,₹12.85 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.80 K,old,Apartment
4,3 BHK Apartment for sale in Samta Nagar,₹42.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",1145 sq.ft,Sumit Acharya,EMI starts at ₹22.24 K,old,Apartment
...,...,...,...,...,...,...,...,...
464,1 BHK Apartment for sale in Nashik Road,₹21.0 L,"Gayakhe Colony, Nashik Road,Nashik",650 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹11.12 K,old,Apartment
465,2 BHK Apartment for sale in Nashik Road,₹55.0 L,"Anand Nagar, Nashik Road,Nashik",1150 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹29.13 K,old,Apartment
466,2 BHK Apartment for sale in Nashik Road,₹23.0 L,"Gurudatta Nagar, Nashik Road,Nashik",980 sq.ft,Ejaj Sayyad,EMI starts at ₹12.18 K,old,Apartment
467,2 BHK Apartment for sale in Vrindavan Nagar,₹28.0 L,"Vrindavan Nagar, Nashik",900 sq.ft,Ejaj Sayyad,EMI starts at ₹14.83 K,old,Apartment
468,2 BHK Apartment for sale in Satpur,₹38.51 L,"Gulmohar Vihar, Satpur,Nashik",975 sq.ft,Ashish Purwar,EMI starts at ₹20.39 K,old,Apartment

In [22]:
df.describe(include='all')

,name,price,address,sq_ft,owners,emi,house_condition,housetype
count,469,469,469,469,469,469,469,469
unique,102,136,165,173,76,130,1,1
top,2 BHK Apartment for sale in Nashik Road,₹35.0 L,"Nashik Road, Nashik",800 sq.ft,Mr Sanjay,EMI starts at ₹18.53 K,old,Apartment
freq,80,28,54,37,108,28,469,469

In [32]:
df[df.duplicated(keep='last')]

In [35]:
df.to_csv('housing_data1')

In [19]:
import pandas as pd

In [20]:
df= pd.read_csv('housing_data1',index_col=0)
df

,name,price,address,sq_ft,owners,emi,house_condition,housetype
0,2 BHK Apartment for sale in Niphad,₹11.49 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.09 K,old,Apartment
1,2 BHK Apartment for sale in Samta Nagar,₹35.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",945 sq.ft,Sumit Acharya,EMI starts at ₹18.53 K,old,Apartment
2,3 BHK Apartment for sale in Samta Nagar,₹46.99 L,"Samraat Dream Citi, Samta Nagar, Nashik",1160 sq.ft,Kartik Peshwe,EMI starts at ₹24.88 K,old,Apartment
3,1 BHK Apartment for sale in Niphad,₹12.85 L,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.80 K,old,Apartment
4,3 BHK Apartment for sale in Samta Nagar,₹42.0 L,"Samraat Dream Citi, Samta Nagar, Nashik",1145 sq.ft,Sumit Acharya,EMI starts at ₹22.24 K,old,Apartment
...,...,...,...,...,...,...,...,...
464,1 BHK Apartment for sale in Nashik Road,₹21.0 L,"Gayakhe Colony, Nashik Road,Nashik",650 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹11.12 K,old,Apartment
465,2 BHK Apartment for sale in Nashik Road,₹55.0 L,"Anand Nagar, Nashik Road,Nashik",1150 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹29.13 K,old,Apartment
466,2 BHK Apartment for sale in Nashik Road,₹23.0 L,"Gurudatta Nagar, Nashik Road,Nashik",980 sq.ft,Ejaj Sayyad,EMI starts at ₹12.18 K,old,Apartment
467,2 BHK Apartment for sale in Vrindavan Nagar,₹28.0 L,"Vrindavan Nagar, Nashik",900 sq.ft,Ejaj Sayyad,EMI starts at ₹14.83 K,old,Apartment
468,2 BHK Apartment for sale in Satpur,₹38.51 L,"Gulmohar Vihar, Satpur,Nashik",975 sq.ft,Ashish Purwar,EMI starts at ₹20.39 K,old,Apartment

In [21]:
def name_splitter(value):
    return value.split(sep=' BHK')[0]
'''def price_splitter(value):
    
    
    value = value.replace('₹',' L')
    value1 =value.split(sep=' L')[1]
    
    if 'Cr\nEMI starts at'in value1:
        value2 = float(value1.split(sep=' ')[0])*100
        return round(value2,ndigits=1)
    else:
        return value1  
    '''
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    value = value.replace(' K','₹')
    return value.split(sep='₹')[0]
#def splitting_sqft(value):
#    return value.split()[0]

In [22]:
import regex as re
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    if 'Price on Request' in value:
        return 'NA'
    else:
        emi =re.findall(r"[-+]?\d*\.\d+|\d+",value)
        return emi[-1]

In [23]:
import regex as re
def price(value):
    
    min_price = re.findall(r"[-+]?\d*\.\d+|\d+",value)
    

    if 'Cr\nEMI starts at'in value:
        value2 = float(min_price[0])*100
        return round(value2,ndigits=1)
    elif 'Price on Request' in value:
        return 'Price on Request'
    else:
        return min_price[0]

In [24]:
df['BHK'] = df['name'].apply(name_splitter)
df['price'] = df['emi'].apply(price)
df['per_month_emi'] = df['emi'].apply(emi_splitter)
df['total_sqft'] = df['sq_ft'].apply(splitting_sqft)

In [25]:
df

,name,price,address,sq_ft,owners,emi,house_condition,housetype,BHK,per_month_emi,total_sqft
0,2 BHK Apartment for sale in Niphad,6.09,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.09 K,old,Apartment,2,6.09,520
1,2 BHK Apartment for sale in Samta Nagar,18.53,"Samraat Dream Citi, Samta Nagar, Nashik",945 sq.ft,Sumit Acharya,EMI starts at ₹18.53 K,old,Apartment,2,18.53,945
2,3 BHK Apartment for sale in Samta Nagar,24.88,"Samraat Dream Citi, Samta Nagar, Nashik",1160 sq.ft,Kartik Peshwe,EMI starts at ₹24.88 K,old,Apartment,3,24.88,1160
3,1 BHK Apartment for sale in Niphad,6.80,"Renuka Apartment,Niphad, Nashik",520 sq.ft,DisposalHub,EMI starts at ₹6.80 K,old,Apartment,1,6.80,520
4,3 BHK Apartment for sale in Samta Nagar,22.24,"Samraat Dream Citi, Samta Nagar, Nashik",1145 sq.ft,Sumit Acharya,EMI starts at ₹22.24 K,old,Apartment,3,22.24,1145
...,...,...,...,...,...,...,...,...,...,...,...
464,1 BHK Apartment for sale in Nashik Road,11.12,"Gayakhe Colony, Nashik Road,Nashik",650 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹11.12 K,old,Apartment,1,11.12,650
465,2 BHK Apartment for sale in Nashik Road,29.13,"Anand Nagar, Nashik Road,Nashik",1150 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹29.13 K,old,Apartment,2,29.13,1150
466,2 BHK Apartment for sale in Nashik Road,12.18,"Gurudatta Nagar, Nashik Road,Nashik",980 sq.ft,Ejaj Sayyad,EMI starts at ₹12.18 K,old,Apartment,2,12.18,980
467,2 BHK Apartment for sale in Vrindavan Nagar,14.83,"Vrindavan Nagar, Nashik",900 sq.ft,Ejaj Sayyad,EMI starts at ₹14.83 K,old,Apartment,2,14.83,900
468,2 BHK Apartment for sale in Satpur,20.39,"Gulmohar Vihar, Satpur,Nashik",975 sq.ft,Ashish Purwar,EMI starts at ₹20.39 K,old,Apartment,2,20.39,975

In [26]:
df.describe()

,name,price,address,sq_ft,owners,emi,house_condition,housetype,BHK,per_month_emi,total_sqft
count,469,469,469,469,469,469,469,469,469,469,469
unique,102,130,165,173,76,130,1,1,7,130,173
top,2 BHK Apartment for sale in Nashik Road,18.53,"Nashik Road, Nashik",800 sq.ft,Mr Sanjay,EMI starts at ₹18.53 K,old,Apartment,2,18.53,800
freq,80,28,54,37,108,28,469,469,211,28,37

In [27]:
df=df[['name', 'address', 'sq_ft', 'owners', 'emi', 'housetype',
       'house_condition',  'BHK','price','per_month_emi','total_sqft']]

In [28]:
df.tail(55)

,name,address,sq_ft,owners,emi,housetype,house_condition,BHK,price,per_month_emi,total_sqft
414,3 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",1135 sq.ft,Mr Sanjay,EMI starts at ₹24.36 K,Apartment,old,3,24.36,24.36,1135
415,3 BHK Apartment for sale in Pramod Nagar,"Pramod Nagar, Nashik",1400 sq.ft,Mr Sanjay,EMI starts at ₹39.72 K,Apartment,old,3,39.72,39.72,1400
416,3 BHK Apartment for sale in Anandwalli Gaon,"Serene Meadows, Anandwalli Gaon,Nashik",1668 sq.ft,Mr Sanjay,EMI starts at ₹10.59 K,Apartment,old,3,10.59,10.59,1668
417,3 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",1123 sq.ft,Mr Sanjay,EMI starts at ₹25.42 K,Apartment,old,3,25.42,25.42,1123
418,2 BHK Apartment for sale in Hirawadi,"Panchawati, Hirawadi,Nashik",875 sq.ft,NISHANT,EMI starts at ₹15.89 K,Apartment,old,2,15.89,15.89,875
419,3 BHK Apartment for sale in Canada Corner,"Patil Colony, Canada Corner,Nashik",1258 sq.ft,NISHANT,EMI starts at ₹38.13 K,Apartment,old,3,38.13,38.13,1258
420,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1521 sq.ft,Mr Sanjay,EMI starts at ₹37.07 K,Apartment,old,3,37.07,37.07,1521
421,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1500 sq.ft,Mr Sanjay,EMI starts at ₹33.36 K,Apartment,old,3,33.36,33.36,1500
422,2 BHK Apartment for sale in Trimbak,"Trimbak, Nashik",1100 sq.ft,Mr Sanjay,EMI starts at ₹29.13 K,Apartment,old,2,29.13,29.13,1100
423,4 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",2900 sq.ft,Mr Sanjay,EMI starts at ₹94.33 K,Apartment,old,4,94.33,94.33,2900
424,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",950 sq.ft,Mr Sanjay,EMI starts at ₹22.24 K,Apartment,old,2,22.24,22.24,950
425,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1414 sq.ft,Mr Sanjay,EMI starts at ₹33.36 K,Apartment,old,2,33.36,33.36,1414
426,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",800 sq.ft,Mr Sanjay,EMI starts at ₹16.95 K,Apartment,old,2,16.95,16.95,800
427,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1551 sq.ft,Mr Sanjay,EMI starts at ₹33.89 K,Apartment,old,3,33.89,33.89,1551
428,4 BHK Apartment for sale in Veer Sawarkar Nagar,"Datey Nagar, Veer Sawarkar Nagar,Nashik",2125 sq.ft,Mr Sanjay,EMI starts at ₹60.07 K,Apartment,old,4,60.07,60.07,2125
429,3 BHK Apartment for sale in TIDKE NAGAR,"TIDKE NAGAR, Nashik",1442 sq.ft,Mr Sanjay,EMI starts at ₹38.23 K,Apartment,old,3,38.23,38.23,1442
430,3 BHK Apartment for sale in Makhmalabad,"Makhmalabad, Nashik",1123 sq.ft,Mr Sanjay,EMI starts at ₹21.71 K,Apartment,old,3,21.71,21.71,1123
431,3 BHK Apartment for sale in Anandwalli Gaon,"Balawant Nagar, Anandwalli Gaon,Nashik",1528 sq.ft,Mr Sanjay,EMI starts at ₹31.77 K,Apartment,old,3,31.77,31.77,1528
432,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Datey Nagar, Veer Sawarkar Nagar,Nashik",1400 sq.ft,Mr Sanjay,EMI starts at ₹37.73 K,Apartment,old,3,37.73,37.73,1400
433,3 BHK Apartment for sale in Anandwalli Gaon,"Serene Meadows, Anandwalli Gaon,Nashik",1520 sq.ft,Mr Sanjay,EMI starts at ₹31.77 K,Apartment,old,3,31.77,31.77,1520
434,3 BHK Apartment for sale in Rane Nagar,"Chetana Nagar, Rane Nagar,Nashik",1135 sq.ft,Mr Sanjay,EMI starts at ₹24.36 K,Apartment,old,3,24.36,24.36,1135
435,3 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",1135 sq.ft,Mr Sanjay,EMI starts at ₹25.95 K,Apartment,old,3,25.95,25.95,1135
436,4 BHK Apartment for sale in College Road,"College Road, Nashik",2900 sq.ft,Mr Sanjay,EMI starts at ₹94.33 K,Apartment,old,4,94.33,94.33,2900
437,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Datey Nagar, Veer Sawarkar Nagar,Nashik",900 sq.ft,Mr Sanjay,EMI starts at ₹20.12 K,Apartment,old,2,20.12,20.12,900
438,3 BHK Apartment for sale in College Road,"College Road, Nashik",1800 sq.ft,Mr Sanjay,EMI starts at ₹47.66 K,Apartment,old,3,47.66,47.66,1800
439,2 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",985 sq.ft,Mr Sanjay,EMI starts at ₹22.77 K,Apartment,old,2,22.77,22.77,985
440,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1550 sq.ft,Mr Sanjay,EMI starts at ₹42.20 K,Apartment,old,3,42.20,42.20,1550
441,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1375 sq.ft,Mr Sanjay,EMI starts at ₹32.83 K,Apartment,old,3,32.83,32.83,1375
442,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1650 sq.ft,Mr Sanjay,EMI starts at ₹42.20 K,Apartment,old,3,42.20,42.20,1650
443,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",1400 sq.ft,Mr Sanjay,EMI starts at ₹32.83 K,Apartment,old,3,32.83,32.83,1400
444,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",1356 sq.ft,Mr Sanjay,EMI starts at ₹31.77 K,Apartment,old,3,31.77,31.77,1356
445,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",1610 sq.ft,Mr Sanjay,EMI starts at ₹42.20 K,Apartment,old,3,42.20,42.20,1610
446,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",1045 sq.ft,Mr Sanjay,EMI starts at ₹23.83 K,Apartment,old,2,23.83,23.83,1045
447,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",822 sq.ft,Mr Sanjay,EMI starts at ₹21.18 K,Apartment,old,2,21.18,21.18,822
448,2 BHK Apartment for sale in Veer Sawarkar Nagar,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",856 sq.ft,Mr Sanjay,EMI starts at ₹20.12 K,Apartment,old,2,20.12,20.12,856
449,1 BHK Apartment for sale in Veer Sawarkar Nagar,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",800 sq.ft,Mr Sanjay,EMI starts at ₹15.36 K,Apartment,old,1,15.36,15.36,800
450,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Datey Nagar, Veer Sawarkar Nagar,Nashik",1550 sq.ft,Mr Sanjay,EMI starts at ₹40.71 K,Apartment,old,3,40.71,40.71,1550
451,3 BHK Apartment for sale in Satpur,"Ashoknagar, Satpur,Nashik",1400 sq.ft,Mr Sanjay,EMI starts at ₹32.83 K,Apartment,old,3,32.83,32.83,1400
452,3 BHK Apartment for sale in Satpur,"Ashoknagar, Satpur,Nashik",1525 sq.ft,Mr Sanjay,EMI starts at ₹33.36 K,Apartment,old,3,33.36,33.36,1525
453,3 BHK Apartment for sale in Pathardi Phata,"Damodar Nagar, Pathardi Phata,Nashik",1400 sq.ft,Mr Sanjay,EMI starts at ₹27.54 K,Apartment,old,3,27.54,27.54,1400
454,3 BHK Apartment for sale in Pathardi Phata,"Damodar Nagar, Pathardi Phata,Nashik",1459 sq.ft,Mr Sanjay,EMI starts at ₹27.54 K,Apartment,old,3,27.54,27.54,1459
455,3 BHK Apartment for sale in Satpur,"Ashoknagar, Satpur,Nashik",1500 sq.ft,Mr Sanjay,EMI starts at ₹33.36 K,Apartment,old,3,33.36,33.36,1500
456,3 BHK Apartment for sale in Veer Sawarkar Nagar,"Datey Nagar, Veer Sawarkar Nagar,Nashik",1600 sq.ft,Mr Sanjay,EMI starts at ₹40.71 K,Apartment,old,3,40.71,40.71,1600
457,1 BHK Apartment for sale in Satpur,"Ashoknagar, Satpur,Nashik",735 sq.ft,Mr Sanjay,EMI starts at ₹18.00 K,Apartment,old,1,18.00,18.00,735
458,2 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",985 sq.ft,Mr Sanjay,EMI starts at ₹28.07 K,Apartment,old,2,28.07,28.07,985
459,3 BHK Apartment for sale in Kalpataru Nagar,"Kalpataru Nagar, Nashik",1300 sq.ft,Mr Sanjay,EMI starts at ₹31.77 K,Apartment,old,3,31.77,31.77,1300
460,4 BHK Apartment for sale in Satpur,"Ashoknagar, Satpur,Nashik",2200 sq.ft,Mr Sanjay,EMI starts at ₹74.47 K,Apartment,old,4,74.47,74.47,2200
461,2 BHK Apartment for sale in Anandwalli Gaon,"Balawant Nagar, Anandwalli Gaon,Nashik",853 sq.ft,Mr Sanjay,EMI starts at ₹23.83 K,Apartment,old,2,23.83,23.83,853
462,1 BHK Apartment for sale in Kishor Nagar,"Kishor Nagar, Nashik",750 sq.ft,Yogesh Patil,EMI starts at ₹12.71 K,Apartment,old,1,12.71,12.71,750
463,2 BHK Apartment for sale in Anandwalli Gaon,"Balawant Nagar, Anandwalli Gaon,Nashik",1050 sq.ft,Mr Sanjay,EMI starts at ₹6.35 K,Apartment,old,2,6.35,6.35,1050
464,1 BHK Apartment for sale in Nashik Road,"Gayakhe Colony, Nashik Road,Nashik",650 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹11.12 K,Apartment,old,1,11.12,11.12,650
465,2 BHK Apartment for sale in Nashik Road,"Anand Nagar, Nashik Road,Nashik",1150 sq.ft,"Astvinayak Real Estate,",EMI starts at ₹29.13 K,Apartment,old,2,29.13,29.13,1150
466,2 BHK Apartment for sale in Nashik Road,"Gurudatta Nagar, Nashik Road,Nashik",980 sq.ft,Ejaj Sayyad,EMI starts at ₹12.18 K,Apartment,old,2,12.18,12.18,980
467,2 BHK Apartment for sale in Vrindavan Nagar,"Vrindavan Nagar, Nashik",900 sq.ft,Ejaj Sayyad,EMI starts at ₹14.83 K,Apartment,old,2,14.83,14.83,900
468,2 BHK Apartment for sale in Satpur,"Gulmohar Vihar, Satpur,Nashik",975 sq.ft,Ashish Purwar,EMI starts at ₹20.39 K,Apartment,old,2,20.39,20.39,975

In [29]:
df.drop(columns=['name','sq_ft','emi'],inplace = True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [30]:
df

,address,owners,housetype,house_condition,BHK,price,per_month_emi,total_sqft
0,"Renuka Apartment,Niphad, Nashik",DisposalHub,Apartment,old,2,6.09,6.09,520
1,"Samraat Dream Citi, Samta Nagar, Nashik",Sumit Acharya,Apartment,old,2,18.53,18.53,945
2,"Samraat Dream Citi, Samta Nagar, Nashik",Kartik Peshwe,Apartment,old,3,24.88,24.88,1160
3,"Renuka Apartment,Niphad, Nashik",DisposalHub,Apartment,old,1,6.80,6.80,520
4,"Samraat Dream Citi, Samta Nagar, Nashik",Sumit Acharya,Apartment,old,3,22.24,22.24,1145
...,...,...,...,...,...,...,...,...
464,"Gayakhe Colony, Nashik Road,Nashik","Astvinayak Real Estate,",Apartment,old,1,11.12,11.12,650
465,"Anand Nagar, Nashik Road,Nashik","Astvinayak Real Estate,",Apartment,old,2,29.13,29.13,1150
466,"Gurudatta Nagar, Nashik Road,Nashik",Ejaj Sayyad,Apartment,old,2,12.18,12.18,980
467,"Vrindavan Nagar, Nashik",Ejaj Sayyad,Apartment,old,2,14.83,14.83,900
468,"Gulmohar Vihar, Satpur,Nashik",Ashish Purwar,Apartment,old,2,20.39,20.39,975

In [31]:
df.to_csv('data3')