In [1]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/H3M86P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_41 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '400'
        if m in page_41.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


#    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
#        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-70qvj9')


        total_name.append(name.text)
#        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
#    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('df8')

step1: Message: no such element: Unable to locate element: {"method":"css selector","selector":".css-1nm99ps"}
  (Session info: chrome=95.0.4638.54)
Stacktrace:
Backtrace:
	Ordinal0 [0x003D3AB3+2505395]
	Ordinal0 [0x0036AE41+2076225]
	Ordinal0 [0x00272498+1057944]
	Ordinal0 [0x0029CB74+1231732]
	Ordinal0 [0x002C6D92+1404306]
	Ordinal0 [0x002B5A2A+1333802]
	Ordinal0 [0x002C5168+1397096]
	Ordinal0 [0x002B58BB+1333435]
	Ordinal0 [0x002923E4+1188836]
	Ordinal0 [0x0029323F+1192511]
	GetHandleVerifier [0x0055CB36+1554566]
	GetHandleVerifier [0x00604A0C+2242396]
	GetHandleVerifier [0x00460E0B+523099]
	GetHandleVerifier [0x0045FEB0+519168]
	Ordinal0 [0x003702FD+2097917]
	Ordinal0 [0x00374388+2114440]
	Ordinal0 [0x003744C2+2114754]
	Ordinal0 [0x0037E041+2154561]
	BaseThreadInitThunk [0x76E9FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77CA7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77CA7A6E+238]

name 421
address 421
sqft 421
owners 421
emi 421

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df8',index_col=0)

In [3]:
df2['housetype'] = 'Independent_house'
df2['house_condition'] = 'new'

NameError: name 'df2' is not defined

In [4]:
df2.to_csv('housing_data8')

NameError: name 'df2' is not defined

In [5]:
df.head()

,name,address,sq_ft,owners,emi
0,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹26.51 L\nEMI starts at ₹14.04 K
1,3 BHK Villa for sale in Ganesh Baba Nagar,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",1900 sq.ft,Sumit Acharya,₹87.0 L\nEMI starts at ₹43.19 K
2,3 BHK Independent Builder Floor for sale in An...,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",2500 sq.ft,Umesh Shete,₹1.25 Cr\nEMI starts at ₹62.06 K
3,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹30.0 L\nEMI starts at ₹15.89 K
4,3 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",1500 sq.ft,Rupesh Shirole,₹80.0 L\nEMI starts at ₹39.72 K

In [6]:
def name_splitter(value):
    return value.split(sep=' BHK')[0]
def price_splitter(value):
    
    
    value = value.replace('₹',' L')
    value1 =value.split(sep=' L')[1]
    
    if 'Cr\nEMI starts at'in value1:
        value2 = float(value1.split(sep=' ')[0])*100
        return round(value2,ndigits=1)
    else:
        return value1  
    
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    value = value.replace(' K','₹')
    return value.split(sep='₹')[2]

In [7]:
df['BHK'] = df['name'].apply(name_splitter)
df['price'] = df['emi'].apply(price_splitter)
#df['per_month_emi'] = df['emi'].apply(emi_splitter)

IndexError: list index out of range

In [8]:
df

,name,address,sq_ft,owners,emi,BHK
0,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹26.51 L\nEMI starts at ₹14.04 K,1
1,3 BHK Villa for sale in Ganesh Baba Nagar,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",1900 sq.ft,Sumit Acharya,₹87.0 L\nEMI starts at ₹43.19 K,3
2,3 BHK Independent Builder Floor for sale in An...,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",2500 sq.ft,Umesh Shete,₹1.25 Cr\nEMI starts at ₹62.06 K,3
3,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹30.0 L\nEMI starts at ₹15.89 K,1
4,3 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",1500 sq.ft,Rupesh Shirole,₹80.0 L\nEMI starts at ₹39.72 K,3
...,...,...,...,...,...,...
416,Jay Aditya Palace,"MIDC Ambad, Nashik",2.5 BHK Villa,Jay Developers,Price on Request,Jay Aditya Palace
417,Samraat Dream Villas,"Ganesh Baba Nagar, Nashik",3 BHK Villa,Samraat Group,Price on Request,Samraat Dream Villas
418,Dales Aher Park,"Ojhar, Nashik","2, 3 BHK Villas",Dales Estate,Price on Request,Dales Aher Park
419,Navkar Row House,"Sagar Village, Nashik",2 BHK Villa,Ashok Vanara Land Developers,₹33.04 L - 50.4 L\nEMI starts at ₹17.50 K,Navkar Row House
420,Green Spaces Water Line Canopy,", Nashik",2 BHK Bungalow,Green Spaces Realtors,₹75.0 L\nEMI starts at ₹39.71 K,Green Spaces Water Line Canopy

In [9]:
temp_df = df.loc[:,['name','sq_ft']]
temp_df

                                                  name            sq_ft
0                      1 BHK Villa for sale in Trimbak        650 sq.ft
1            3 BHK Villa for sale in Ganesh Baba Nagar       1900 sq.ft
2    3 BHK Independent Builder Floor for sale in An...       2500 sq.ft
3                      1 BHK Villa for sale in Trimbak        650 sq.ft
4                      3 BHK Villa for sale in Trimbak       1500 sq.ft
..                                                 ...              ...
416                                  Jay Aditya Palace    2.5 BHK Villa
417                               Samraat Dream Villas      3 BHK Villa
418                                    Dales Aher Park  2, 3 BHK Villas
419                                   Navkar Row House      2 BHK Villa
420                     Green Spaces Water Line Canopy   2 BHK Bungalow

[421 rows x 2 columns]

In [10]:
def name_splitter(value):
    if 'BHK' in value:
        return value.split(sep=' BHK')[0]
    else:
        value = ''
        return value

In [11]:
temp_df['BHK'] = temp_df['name'].apply(name_splitter)

In [12]:
temp_df['BHK'].unique()

array(['1', '3', '', '5', '4', '2', '6', '7', '10'], dtype=object)

In [13]:
temp_df.head(40)

,name,sq_ft,BHK
0,1 BHK Villa for sale in Trimbak,650 sq.ft,1
1,3 BHK Villa for sale in Ganesh Baba Nagar,1900 sq.ft,3
2,3 BHK Independent Builder Floor for sale in An...,2500 sq.ft,3
3,1 BHK Villa for sale in Trimbak,650 sq.ft,1
4,3 BHK Villa for sale in Trimbak,1500 sq.ft,3
5,1 BHK Villa for sale in Trimbak,550 sq.ft,1
6,1 BHK Villa for sale in Trimbak,650 sq.ft,1
7,Nirmal Nivara,"1, 2, 3 BHK Apartment,Penthouses",
8,E & G Green Courts,"2, 4 BHK Villas",
9,Kanaklaxmi Treasure Park,"1, 2 BHK Apartment,Villas",
10,Prathmesh Ganesh Enclave,"3 BHK Penthouse, Apartment",
11,Talware Imperial Meadows,"2, 3 BHK Apartment,Villas",
12,Malpani Coral Villas,3 BHK Villa,
13,Suyash The Imperial,"4, 4.5 BHK Villas",
14,Saubhagya Estate,3 BHK Bungalow,
15,Sumanchandra Town,"2, 3 BHK Apartment,Bungalows",
16,3 BHK Independent House for sale in Nashik Road,578 sq.ft,3
17,5 BHK Independent House for sale in Ojhar,2600 sq.ft,5
18,4 BHK Independent House for sale in Eklahare,1400 sq.ft,4
19,1 RK Independent House for sale in Ojhar,1000 sq.ft,
20,2 BHK Villa for sale in Ghatkopar,1250 sq.ft,2
21,4 BHK Independent House for sale in Vijay Nagar,850 sq.ft,4
22,2 BHK Villa for sale in Chunchale,1250 sq.ft,2
23,3 BHK Independent House for sale in Sneha Nagar,1500 sq.ft,3
24,2 BHK Independent House for sale in Prabhat Nagar,1560 sq.ft,2
25,4 BHK Independent House for sale in Omkar Nagar,2000 sq.ft,4
26,2 BHK Independent House for sale in Uttara Nagar,1200 sq.ft,2
27,2 BHK Villa for sale in Pathardi Phata,1000 sq.ft,2
28,2 BHK Independent House for sale in Makhmalabad,1142 sq.ft,2
29,6 BHK Independent House for sale in Nashik Road,4000 sq.ft,6
30,3 BHK Independent House for sale in DGP Nagar,1350 sq.ft,3
31,2 BHK Independent House for sale in Ghatkopar,1250 sq.ft,2
32,2 BHK Villa for sale in Makhmalabad,1060 sq.ft,2
33,3 BHK Independent House for sale in Chandshi,1350 sq.ft,3
34,2 BHK Independent House for sale in Makhmalabad,1090 sq.ft,2
35,3 BHK Independent House for sale in Chandshi,1305 sq.ft,3
36,3 BHK Independent House for sale in Pathardi P...,1100 sq.ft,3
37,1 BHK Independent House for sale in Palase,550 sq.ft,1
38,3 BHK Independent House for sale in Shinde,4355 sq.ft,3
39,3 BHK Independent House for sale in Shinde,4435 sq.ft,3

In [14]:
temp_df['BHK1'] = temp_df['sq_ft'].apply(name_splitter)

In [15]:
temp_df.BHK1.unique()

array(['', '1, 2, 3', '2, 4', '1, 2', '3', '2, 3', '4, 4.5', '1',
       '1.5, 2, 3, 4', '2', '4', '3, 4', '2.5'], dtype=object)

In [16]:
temp_df['final_BHK']= temp_df['BHK']+temp_df['BHK1']

In [17]:
temp_df['final_BHK'].describe()

count     421
unique     17
top         2
freq      169
Name: final_BHK, dtype: object

In [18]:
len(temp_df.loc[temp_df['final_BHK']=='1'])

41

In [19]:

def splitting_sqft(value):
    if 'sq' in value:
        return value.split()[0]
    else:
        value = 'NA'
        return value

In [20]:
temp_df['total_sqft'] = temp_df['sq_ft'].apply(splitting_sqft)

In [21]:
temp_df.total_sqft.unique()

array(['650', '1900', '2500', '1500', '550', 'NA', '578', '2600', '1400',
       '1000', '1250', '850', '1560', '2000', '1200', '1142', '4000',
       '1350', '1060', '1090', '1305', '1100', '4355', '4435', '1920',
       '1050', '1025', '1783', '2100', '1210', '218', '445', '423', '750',
       '978', '3500', '1620', '2700', '1361', '1153', '2250', '950',
       '1873', '1850', '836', '525', '1600', '762', '970', '1375', '1450',
       '1800', '840', '2400', '1875', '1128', '1550', '1300', '800',
       '620', '900', '645', '1700', '1770', '1118', '360', '795', '1040',
       '1065', '1409', '600', '1420', '500', '2650', '420', '910', '250',
       '1946', '725', '1134', '400', '450', '1844', '1462', '1179',
       '1176', '1893', '1530', '1356', '3240', '972', '6000', '915',
       '1150', '1222', '1220', '2020', '422', '1284', '3200', '4200',
       '1340', '1430', '1650', '3000', '821', '667', '1680', '2800',
       '1175', '962', '1965', '1980', '2398', '2050', '2300', '1125',
       '1089', '1270', '565', '860', '980', '1228', '1975', '640', '3600',
       '3285', '990', '1750', '610', '700', '2235', '675', '2200', '1710',
       '5000', '1323', '1330', '2448', '2350', '1455', '1460', '1043',
       '1286', '3100', '1271', '1358', '1625', '635', '861'], dtype=object)

In [22]:
temp_df.tail(50)

,name,sq_ft,BHK,BHK1,final_BHK,total_sqft
371,3 BHK Independent House for sale in Nashik Road,1700 sq.ft,3,,3,1700
372,4 BHK Independent House for sale in Konark Nagar,3000 sq.ft,4,,4,3000
373,3 BHK Independent House for sale in Indira Nagar,1750 sq.ft,3,,3,1750
374,1 BHK Independent House for sale in Pathardi P...,1000 sq.ft,1,,1,1000
375,2 BHK Independent House for sale in Chandshi,1550 sq.ft,2,,2,1550
376,2 BHK Independent House for sale in Indira Nagar,1600 sq.ft,2,,2,1600
377,3 BHK Independent House for sale in Rane Nagar,2700 sq.ft,3,,3,2700
378,2 BHK Independent House for sale in Ojhar,1620 sq.ft,2,,2,1620
379,2 BHK Independent House for sale in Chandshi,1550 sq.ft,2,,2,1550
380,2 BHK Independent House for sale in Indira Nagar,1450 sq.ft,2,,2,1450
381,3 BHK Independent House for sale in Kishor Nagar,1900 sq.ft,3,,3,1900
382,3 BHK Independent House for sale in Indira Nagar,2000 sq.ft,3,,3,2000
383,1 BHK Independent Builder Floor for sale in Gh...,635 sq.ft,1,,1,635
384,3 BHK Independent House for sale in Dwarka,2500 sq.ft,3,,3,2500
385,2 BHK Independent House for sale in Nashik Road,1400 sq.ft,2,,2,1400
386,2 BHK Independent House for sale in Nashik Road,1350 sq.ft,2,,2,1350
387,4 BHK Independent House for sale in Nashik Road,1550 sq.ft,4,,4,1550
388,2 BHK Independent House for sale in Chandshi,1550 sq.ft,2,,2,1550
389,2 BHK Villa for sale in Ojhar,1300 sq.ft,2,,2,1300
390,4 BHK Independent House for sale in Nashik Road,1300 sq.ft,4,,4,1300
391,3 BHK Independent House for sale in Panchavati,861 sq.ft,3,,3,861
392,3 BHK Independent House for sale in Panchavati,860 sq.ft,3,,3,860
393,2 BHK Independent House for sale in Rane Nagar,1350 sq.ft,2,,2,1350
394,Thakkers Richmond Bungalows,3 BHK Bungalow,,3,3,NA
395,Rakholiya Sai Ram Row Houses,3 BHK Villa,,3,3,NA
396,Suyojit Viridian Vallis,"1.5, 2, 3, 4 BHK Apartment, Villas",,"1.5, 2, 3, 4","1.5, 2, 3, 4",NA
397,Vishwas Sai Puja Row Houses,2 BHK Villa,,2,2,NA
398,Ashoka Kalpataru Ph 2,1 BHK Villa,,1,1,NA
399,Sarode Sarode Sankul,1 BHK Villa,,1,1,NA
400,Ekta Greenville Phase 3,"4 BHK Row House, Villa",,4,4,NA
401,Aditi Yashoda Garden,2 BHK Villa,,2,2,NA
402,Shah Shahs Shatrunjay,"1, 2 BHK Villas",,"1, 2","1, 2",NA
403,Pravin H Vaghela Shyam Shrushti Row House,"2 BHK Apartment, Villa",,2,2,NA
404,Shree Swami Sankul,1 BHK Villa,,1,1,NA
405,Shree Villa,"2, 4 BHK Villas",,"2, 4","2, 4",NA
406,Jayantibhai Maruti Row Bungalow,"2, 3 BHK Villas",,"2, 3","2, 3",NA
407,Suyojit Viridian Vallis Phase 1 F And G Sector...,4 BHK Villa,,4,4,NA
408,Ekta Greenville Villa,"3, 4 BHK Villas",,"3, 4","3, 4",NA
409,Pranav Garden Phase 1,"2, 3 BHK Villas",,"2, 3","2, 3",NA
410,Talware Imperial Meadows Phase 1 Villa,3 BHK Villa,,3,3,NA
411,R R Sejal Harmony,"2, 3 BHK Villas",,"2, 3","2, 3",NA
412,Maitreya Realtors Pandav Van,2 BHK Villa,,2,2,NA
413,Samraat Vrindavan,"2, 3 BHK Apartment, Penthouses",,"2, 3","2, 3",NA
414,Kanaklaxmi Treasure Park Phase 1,2 BHK Villa,,2,2,NA
415,Shree Gajanan Park Villas,2 BHK Villa,,2,2,NA
416,Jay Aditya Palace,2.5 BHK Villa,,2.5,2.5,NA
417,Samraat Dream Villas,3 BHK Villa,,3,3,NA
418,Dales Aher Park,"2, 3 BHK Villas",,"2, 3","2, 3",NA
419,Navkar Row House,2 BHK Villa,,2,2,NA
420,Green Spaces Water Line Canopy,2 BHK Bungalow,,2,2,NA

In [23]:
df

,name,address,sq_ft,owners,emi,BHK
0,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹26.51 L\nEMI starts at ₹14.04 K,1
1,3 BHK Villa for sale in Ganesh Baba Nagar,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",1900 sq.ft,Sumit Acharya,₹87.0 L\nEMI starts at ₹43.19 K,3
2,3 BHK Independent Builder Floor for sale in An...,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",2500 sq.ft,Umesh Shete,₹1.25 Cr\nEMI starts at ₹62.06 K,3
3,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹30.0 L\nEMI starts at ₹15.89 K,1
4,3 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",1500 sq.ft,Rupesh Shirole,₹80.0 L\nEMI starts at ₹39.72 K,3
...,...,...,...,...,...,...
416,Jay Aditya Palace,"MIDC Ambad, Nashik",2.5 BHK Villa,Jay Developers,Price on Request,Jay Aditya Palace
417,Samraat Dream Villas,"Ganesh Baba Nagar, Nashik",3 BHK Villa,Samraat Group,Price on Request,Samraat Dream Villas
418,Dales Aher Park,"Ojhar, Nashik","2, 3 BHK Villas",Dales Estate,Price on Request,Dales Aher Park
419,Navkar Row House,"Sagar Village, Nashik",2 BHK Villa,Ashok Vanara Land Developers,₹33.04 L - 50.4 L\nEMI starts at ₹17.50 K,Navkar Row House
420,Green Spaces Water Line Canopy,", Nashik",2 BHK Bungalow,Green Spaces Realtors,₹75.0 L\nEMI starts at ₹39.71 K,Green Spaces Water Line Canopy

In [24]:
import regex as re
def min_price(value):
    
    min_price = re.findall(r"[-+]?\d*\.\d+|\d+",value)
    

    if 'Cr\nEMI starts at'in value:
        value2 = float(min_price[0])*100
        return round(value2,ndigits=1)
    elif 'Price on Request' in value:
        return 'Price on Request'
    else:
        return min_price[0]

In [25]:
df['price'] = df['emi'].apply(min_price)

In [26]:
df

,name,address,sq_ft,owners,emi,BHK,price
0,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹26.51 L\nEMI starts at ₹14.04 K,1,26.51
1,3 BHK Villa for sale in Ganesh Baba Nagar,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",1900 sq.ft,Sumit Acharya,₹87.0 L\nEMI starts at ₹43.19 K,3,87.0
2,3 BHK Independent Builder Floor for sale in An...,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",2500 sq.ft,Umesh Shete,₹1.25 Cr\nEMI starts at ₹62.06 K,3,125
3,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹30.0 L\nEMI starts at ₹15.89 K,1,30.0
4,3 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",1500 sq.ft,Rupesh Shirole,₹80.0 L\nEMI starts at ₹39.72 K,3,80.0
...,...,...,...,...,...,...,...
416,Jay Aditya Palace,"MIDC Ambad, Nashik",2.5 BHK Villa,Jay Developers,Price on Request,Jay Aditya Palace,Price on Request
417,Samraat Dream Villas,"Ganesh Baba Nagar, Nashik",3 BHK Villa,Samraat Group,Price on Request,Samraat Dream Villas,Price on Request
418,Dales Aher Park,"Ojhar, Nashik","2, 3 BHK Villas",Dales Estate,Price on Request,Dales Aher Park,Price on Request
419,Navkar Row House,"Sagar Village, Nashik",2 BHK Villa,Ashok Vanara Land Developers,₹33.04 L - 50.4 L\nEMI starts at ₹17.50 K,Navkar Row House,33.04
420,Green Spaces Water Line Canopy,", Nashik",2 BHK Bungalow,Green Spaces Realtors,₹75.0 L\nEMI starts at ₹39.71 K,Green Spaces Water Line Canopy,75.0

In [27]:
df.price.unique()

array(['26.51', '87.0', 125.0, '30.0', '80.0', '25.0', '15.93', '42.7',
       '18.9', '48.84', '24.92', '54.15', 265.0, '65', '27.84', '67.0',
       '56.0', '13.0', '39.5', '31.0', '38.5', '75.0', '44.0', '70.0',
       '38.0', '43.0', 250.0, '51.0', '31.5', '55.0', '40.0', '18.5',
       '35.0', 120.0, '41.0', '42.0', '21.0', '98.0', '45.0', '85.0',
       330.0, '15.5', '23.0', '32.0', 129.0, '64.0', '65.0', '37.0',
       '52.0', 100.0, 135.0, '72.0', '13.5', 295.0, '20.0', 122.0, '22.0',
       '30.9', '78.0', '35.1', '66.0', '76.0', '50.0', '1.0', '18.0',
       '28.5', '29.0', '49.0', '8.0', '17.21', '60.0', 200.0, '34.0',
       '16.0', '33.0', '12.0', '77.0', '26.0', '95.0', '32.51', '57.0',
       '90.0', '36.0', '99.0', '79.5', '48.0', '58.0', '18.51', 230.0,
       251.0, '27.51', '69.99', '34.51', '19.0', 108.0, 178.0, 255.0,
       '40.21', '47.0', '59.0', '17.34', '39.0', '46.0', '15.0', 151.0,
       110.0, '24.0', '68.0', '4.0', '5.85', 140.0, '53.0', 175.0, '16.5',
       225.0, '27.0', '29.9', 325.0, 157.0, 575.0, 116.0, 260.0, '34.9',
       '55.6', '17.5', 400.0, '55.21', '94.5', '68.4', '14.85', 172.0,
       '47.25', '59.43', '27.5', 'Price on Request', 126.0, '20.38',
       '39.98', 117.0, '33.78', '44.4', 5606.0, '33.04'], dtype=object)

In [28]:
df.emi.unique()

array(['₹26.51 L\nEMI starts at ₹14.04 K',
       '₹87.0 L\nEMI starts at ₹43.19 K',
       '₹1.25 Cr\nEMI starts at ₹62.06 K',
       '₹30.0 L\nEMI starts at ₹15.89 K',
       '₹80.0 L\nEMI starts at ₹39.72 K',
       '₹25.0 L\nEMI starts at ₹13.24 K',
       '₹15.93 L - 39.97 L\nEMI starts at ₹8.44 K',
       '₹42.7 L - 97 L\nEMI starts at ₹22.61 K',
       '₹18.9 L - 33.75 L\nEMI starts at ₹10.01 K',
       '₹48.84 L - 58.8 L\nEMI starts at ₹25.86 K',
       '₹24.92 L - 65.01 L\nEMI starts at ₹13.20 K',
       '₹54.15 L\nEMI starts at ₹28.68 K',
       '₹2.65 Cr - 2.72 Cr\nEMI starts at ₹1.32 Lacs',
       '₹65 L\nEMI starts at ₹34.42 K',
       '₹27.84 L - 52.8 L\nEMI starts at ₹14.74 K',
       '₹67.0 L\nEMI starts at ₹35.48 K',
       '₹56.0 L\nEMI starts at ₹29.66 K',
       '₹13.0 L\nEMI starts at ₹6.88 K',
       '₹39.5 L\nEMI starts at ₹20.92 K',
       '₹31.0 L\nEMI starts at ₹16.42 K',
       '₹38.5 L\nEMI starts at ₹20.39 K',
       '₹75.0 L\nEMI starts at ₹39.72 K',
       '₹44.0 L\nEMI starts at ₹23.30 K',
       '₹70.0 L\nEMI starts at ₹37.07 K',
       '₹38.0 L\nEMI starts at ₹20.12 K',
       '₹43.0 L\nEMI starts at ₹22.77 K',
       '₹2.5 Cr\nEMI starts at ₹1.24 Lacs',
       '₹51.0 L\nEMI starts at ₹27.01 K',
       '₹31.5 L\nEMI starts at ₹16.68 K',
       '₹55.0 L\nEMI starts at ₹29.13 K',
       '₹40.0 L\nEMI starts at ₹21.18 K',
       '₹18.5 L\nEMI starts at ₹9.80 K',
       '₹35.0 L\nEMI starts at ₹18.53 K',
       '₹1.2 Cr\nEMI starts at ₹59.58 K',
       '₹41.0 L\nEMI starts at ₹21.71 K',
       '₹42.0 L\nEMI starts at ₹22.24 K',
       '₹21.0 L\nEMI starts at ₹11.12 K',
       '₹98.0 L\nEMI starts at ₹48.65 K',
       '₹45.0 L\nEMI starts at ₹23.83 K',
       '₹85.0 L\nEMI starts at ₹42.20 K',
       '₹3.3 Cr\nEMI starts at ₹1.64 Lacs',
       '₹15.5 L\nEMI starts at ₹8.21 K',
       '₹23.0 L\nEMI starts at ₹12.18 K',
       '₹32.0 L\nEMI starts at ₹16.95 K',
       '₹1.29 Cr\nEMI starts at ₹64.04 K',
       '₹64.0 L\nEMI starts at ₹33.89 K',
       '₹65.0 L\nEMI starts at ₹34.42 K',
       '₹37.0 L\nEMI starts at ₹19.59 K',
       '₹52.0 L\nEMI starts at ₹27.54 K',
       '₹1.0 Cr\nEMI starts at ₹49.65 K',
       '₹1.35 Cr\nEMI starts at ₹67.02 K',
       '₹72.0 L\nEMI starts at ₹38.13 K',
       '₹13.5 L\nEMI starts at ₹7.15 K',
       '₹2.95 Cr\nEMI starts at ₹1.46 Lacs',
       '₹20.0 L - 21.73 L\nEMI starts at ₹10.59 K',
       '₹1.22 Cr\nEMI starts at ₹60.67 K',
       '₹22.0 L\nEMI starts at ₹11.65 K',
       '₹30.9 L\nEMI starts at ₹16.36 K',
       '₹78.0 L\nEMI starts at ₹38.72 K',
       '₹35.1 L\nEMI starts at ₹18.59 K',
       '₹66.0 L\nEMI starts at ₹34.95 K',
       '₹76.0 L\nEMI starts at ₹37.73 K',
       '₹50.0 L\nEMI starts at ₹26.48 K', '₹1.0 L\nEMI starts at ₹529',
       '₹18.0 L\nEMI starts at ₹9.53 K',
       '₹28.5 L\nEMI starts at ₹15.09 K',
       '₹29.0 L\nEMI starts at ₹15.36 K',
       '₹49.0 L\nEMI starts at ₹25.95 K', '₹8.0 L\nEMI starts at ₹4.24 K',
       '₹17.21 L\nEMI starts at ₹9.11 K',
       '₹60.0 L\nEMI starts at ₹31.77 K',
       '₹2.0 Cr\nEMI starts at ₹99.29 K',
       '₹34.0 L\nEMI starts at ₹18.00 K',
       '₹16.0 L\nEMI starts at ₹8.47 K',
       '₹33.0 L\nEMI starts at ₹17.48 K',
       '₹12.0 L\nEMI starts at ₹6.35 K',
       '₹77.0 L\nEMI starts at ₹38.23 K',
       '₹26.0 L\nEMI starts at ₹13.77 K',
       '₹95.0 L\nEMI starts at ₹47.16 K',
       '₹32.51 L\nEMI starts at ₹17.22 K',
       '₹57.0 L\nEMI starts at ₹30.18 K',
       '₹90.0 L\nEMI starts at ₹44.68 K',
       '₹36.0 L\nEMI starts at ₹19.06 K',
       '₹99.0 L\nEMI starts at ₹49.15 K',
       '₹79.5 L\nEMI starts at ₹39.47 K',
       '₹48.0 L\nEMI starts at ₹25.42 K',
       '₹58.0 L\nEMI starts at ₹30.71 K',
       '₹18.51 L\nEMI starts at ₹9.80 K',
       '₹2.3 Cr\nEMI starts at ₹1.14 Lacs',
       '₹2.51 Cr\nEMI starts at ₹1.25 Lacs',
       '₹27.51 L\nEMI starts at ₹14.57 K',
       '₹69.99 L\nEMI starts at ₹37.06 K',
       '₹34.51 L\nEMI starts at ₹18.28 K',
       '₹19.0 L\nEMI starts at ₹10.06 K',
       '₹1.08 Cr\nEMI starts at ₹53.62 K',
       '₹1.78 Cr\nEMI starts at ₹88.37 K',
       '₹2.55 Cr\nEMI starts at ₹1.27 Lacs',
       '₹40.21 L\nEMI starts at ₹21.29 K',
       '₹47.0 L\nEMI starts at ₹24.89 K',
       '₹59.0 L\nEMI starts at ₹31.24 K',
       '₹17.34 L\nEMI starts at ₹9.18 K',
       '₹39.0 L\nEMI starts at ₹20.65 K',
       '₹46.0 L\nEMI starts at ₹24.36 K',
       '₹15.0 L\nEMI starts at ₹7.94 K',
       '₹1.51 Cr\nEMI starts at ₹74.97 K',
       '₹1.1 Cr\nEMI starts at ₹54.61 K',
       '₹24.0 L\nEMI starts at ₹12.71 K',
       '₹68.0 L\nEMI starts at ₹36.01 K', '₹4.0 L\nEMI starts at ₹2.12 K',
       '₹5.85 L\nEMI starts at ₹3.10 K',
       '₹1.4 Cr\nEMI starts at ₹69.50 K',
       '₹53.0 L\nEMI starts at ₹28.07 K',
       '₹1.75 Cr\nEMI starts at ₹86.88 K',
       '₹16.5 L\nEMI starts at ₹8.74 K',
       '₹2.25 Cr\nEMI starts at ₹1.12 Lacs',
       '₹27.0 L\nEMI starts at ₹14.30 K',
       '₹29.9 L\nEMI starts at ₹15.83 K',
       '₹3.25 Cr\nEMI starts at ₹1.61 Lacs',
       '₹1.57 Cr\nEMI starts at ₹77.94 K',
       '₹5.75 Cr\nEMI starts at ₹2.85 Lacs',
       '₹1.16 Cr\nEMI starts at ₹57.59 K',
       '₹2.6 Cr\nEMI starts at ₹1.29 Lacs',
       '₹34.9 L\nEMI starts at ₹18.48 K',
       '₹55.6 L\nEMI starts at ₹29.44 K',
       '₹20.0 L\nEMI starts at ₹10.59 K',
       '₹17.5 L\nEMI starts at ₹9.27 K',
       '₹4.0 Cr\nEMI starts at ₹1.99 Lacs',
       '₹55.21 L\nEMI starts at ₹29.24 K',
       '₹94.5 L\nEMI starts at ₹46.92 K',
       '₹68.4 L\nEMI starts at ₹36.22 K',
       '₹14.85 L\nEMI starts at ₹7.86 K',
       '₹1.72 Cr\nEMI starts at ₹85.39 K',
       '₹47.25 L\nEMI starts at ₹25.02 K',
       '₹59.43 L - 61.53 L\nEMI starts at ₹31.47 K',
       '₹27.5 L\nEMI starts at ₹14.56 K', 'Price on Request',
       '₹1.26 Cr\nEMI starts at ₹62.55 K',
       '₹20.38 L - 40.81 L\nEMI starts at ₹10.79 K',
       '₹22.0 L - 27.99 L\nEMI starts at ₹11.65 K',
       '₹39.98 L - 65.0 L\nEMI starts at ₹21.17 K',
       '₹1.17 Cr - 1.47 Cr\nEMI starts at ₹58.09 K',
       '₹33.78 L\nEMI starts at ₹17.89 K',
       '₹44.4 L - 60 L\nEMI starts at ₹23.51 K',
       '₹56.06 L - 1.06 Cr\nEMI starts at ₹29.69 K',
       '₹33.04 L - 50.4 L\nEMI starts at ₹17.50 K',
       '₹75.0 L\nEMI starts at ₹39.71 K'], dtype=object)

In [29]:
s='₹39.98 L - 65.0 L\nEMI starts at ₹21.17 K'
import regex as re
re.split(pattern='[0-9]*\.?[0-9]',string=s)

['₹', '', ' L - ', ' L\nEMI starts at ₹', '', ' K']

In [30]:
temp_df['sq_ft'].unique

<bound method Series.unique of 0            650 sq.ft
1           1900 sq.ft
2           2500 sq.ft
3            650 sq.ft
4           1500 sq.ft
            ...
416      2.5 BHK Villa
417        3 BHK Villa
418    2, 3 BHK Villas
419        2 BHK Villa
420     2 BHK Bungalow
Name: sq_ft, Length: 421, dtype: object>

In [31]:
new=temp_df.loc[:,['final_BHK','total_sqft']]

In [32]:
df2 =  df.join( new)

In [33]:
df2

,name,address,sq_ft,owners,emi,BHK,price,final_BHK,total_sqft
0,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹26.51 L\nEMI starts at ₹14.04 K,1,26.51,1,650
1,3 BHK Villa for sale in Ganesh Baba Nagar,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",1900 sq.ft,Sumit Acharya,₹87.0 L\nEMI starts at ₹43.19 K,3,87.0,3,1900
2,3 BHK Independent Builder Floor for sale in An...,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",2500 sq.ft,Umesh Shete,₹1.25 Cr\nEMI starts at ₹62.06 K,3,125,3,2500
3,1 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",650 sq.ft,Rupesh Shirole,₹30.0 L\nEMI starts at ₹15.89 K,1,30.0,1,650
4,3 BHK Villa for sale in Trimbak,"Asha Bramha Greens, Trimbak, Nashik",1500 sq.ft,Rupesh Shirole,₹80.0 L\nEMI starts at ₹39.72 K,3,80.0,3,1500
...,...,...,...,...,...,...,...,...,...
416,Jay Aditya Palace,"MIDC Ambad, Nashik",2.5 BHK Villa,Jay Developers,Price on Request,Jay Aditya Palace,Price on Request,2.5,NA
417,Samraat Dream Villas,"Ganesh Baba Nagar, Nashik",3 BHK Villa,Samraat Group,Price on Request,Samraat Dream Villas,Price on Request,3,NA
418,Dales Aher Park,"Ojhar, Nashik","2, 3 BHK Villas",Dales Estate,Price on Request,Dales Aher Park,Price on Request,"2, 3",NA
419,Navkar Row House,"Sagar Village, Nashik",2 BHK Villa,Ashok Vanara Land Developers,₹33.04 L - 50.4 L\nEMI starts at ₹17.50 K,Navkar Row House,33.04,2,NA
420,Green Spaces Water Line Canopy,", Nashik",2 BHK Bungalow,Green Spaces Realtors,₹75.0 L\nEMI starts at ₹39.71 K,Green Spaces Water Line Canopy,75.0,2,NA

In [34]:
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    if 'Price on Request' in value:
        return 'NA'
    else:
        emi =re.findall(r"[-+]?\d*\.\d+|\d+",value)
        return emi[-1]

In [35]:
df2['per_month_emi']=df2['emi'].apply(emi_splitter)

In [36]:
df2.drop(columns=['name','sq_ft','emi','BHK'],inplace=True)

In [37]:
df2.rename(columns={'final_BHK':'BHK'},inplace=True)

In [38]:
df2

,address,owners,price,BHK,total_sqft,per_month_emi
0,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,26.51,1,650,14.04
1,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",Sumit Acharya,87.0,3,1900,43.19
2,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",Umesh Shete,125,3,2500,62.06
3,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,30.0,1,650,15.89
4,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,80.0,3,1500,39.72
...,...,...,...,...,...,...
416,"MIDC Ambad, Nashik",Jay Developers,Price on Request,2.5,NA,NA
417,"Ganesh Baba Nagar, Nashik",Samraat Group,Price on Request,3,NA,NA
418,"Ojhar, Nashik",Dales Estate,Price on Request,"2, 3",NA,NA
419,"Sagar Village, Nashik",Ashok Vanara Land Developers,33.04,2,NA,17.50
420,", Nashik",Green Spaces Realtors,75.0,2,NA,39.71

In [39]:
df2.head(50)

,address,owners,price,BHK,total_sqft,per_month_emi
0,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,26.51,1,650,14.04
1,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",Sumit Acharya,87.0,3,1900,43.19
2,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",Umesh Shete,125,3,2500,62.06
3,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,30.0,1,650,15.89
4,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,80.0,3,1500,39.72
5,"Bramha Greens Farm House Project ,Trimbak, Nashik",Rupesh Shirole,25.0,1,550,13.24
6,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,30.0,1,650,15.89
7,"Adke Nagar, Nashik Road,Nashik",Nirmal Develoepers,15.93,"1, 2, 3",NA,8.44
8,"Koroli, Nashik",E & G Global Estate Limited,42.7,"2, 4",NA,22.61
9,"Asha Nagar, Nashik",Kanaklaxmi Developers,18.9,"1, 2",NA,10.01
10,"Ganesh Baba Nagar, Nashik",Prathmesh Constructions,48.84,3,NA,25.86
11,"Asha Nagar, Nashik",Talware Builders,24.92,"2, 3",NA,13.20
12,"Uttam Nagar, Nashik",Malpani Group,54.15,3,NA,28.68
13,"Chandshi, Nashik",Suyash Group,265,"4, 4.5",NA,1.32
14,"Dwarka, Nashik",Dugad Developers,65,3,NA,34.42
15,"Buddha Vihar, Pathardi Phata,Nashik",Sumanchandra,27.84,"2, 3",NA,14.74
16,"Nashik Road, Nashik",Vaibhav Maid,67.0,3,578,35.48
17,"Ojhar, Nashik",Sheetal Kumar,56.0,5,2600,29.66
18,"Eklahare, Nashik",Uttam Chavan,25.0,4,1400,13.24
19,"Ojhar, Nashik",Anand Shinde,13.0,,1000,6.88
20,"Ghatkopar, Nashik",Kantilal H Pokar,39.5,2,1250,20.92
21,"Vijay Nagar, Nashik",Pravin Patil,31.0,4,850,16.42
22,"Pearl Park, Ambedkar Nagar, Chunchale,Nashik",SANTOSH KARANKAL,38.5,2,1250,20.39
23,"Durga Nagar, Sneha Nagar,Nashik",Anjali Anjali,75.0,3,1500,39.72
24,"Prabhat Nagar, Nashik",Hardik Poriya,44.0,2,1560,23.30
25,"Omkar Nagar, Nashik",Mangesh,70.0,4,2000,37.07
26,"Srinivas Colony, Uttara Nagar,Nashik",Harshada Mandlik,38.0,2,1200,20.12
27,"Omkar row house,Pathardi Gaon, Pathardi Phata,...",Santosh Sanap,43.0,2,1000,22.77
28,"Vraj vandana,Makhmalabad, Nashik",Nikhil Metaliya,38.0,2,1142,20.12
29,"Bunglow,Nashik Road, Nashik",Meghan,250,6,4000,1.24
30,"House No 7,DGP Nagar, Nashik",Ashish,51.0,3,1350,27.01
31,"Ghatkopar, Nashik",Kantilal H Pokar,39.5,2,1250,20.92
32,"Samarth Nagar, Makhmalabad,Nashik",Gopal Dalvi,31.5,2,1060,16.68
33,"GS Aarambh,Chandshi, Nashik",Saumitra Patil,55.0,3,1350,29.13
34,"Makhmalabad, Nashik",Gopal Dalvi,31.0,2,1090,16.42
35,"GS Aarambh,Chandshi, Nashik",Saumitra Patil,55.0,3,1305,29.13
36,"Pandav Nagari, Pathardi Phata,Nashik",Ganesh Gorhe,40.0,3,1100,21.18
37,"Palase, Nashik",Prashant Deokar,18.5,1,550,9.80
38,"Shinde, Nashik",Sagar Bagul,80.0,3,4355,39.72
39,"Shinde, Nashik",Sagar Bagul,80.0,3,4435,39.72
40,"Makhmalabad, Nashik",PARESH PATEL,55.0,3,1920,29.13
41,"Nashik Road, Nashik",Pooja,35.0,2,1050,18.53
42,"Ayodhya Nagar, Nashik Road,Nashik",Manisha Thakre,120,4,1200,59.58
43,"Nashik Road, Nashik",SP KHARE.,40.0,2,1350,21.18
44,"Sunflower Apartment, Nashik Road, Nashik",Arjun,41.0,2,1025,21.71
45,"Row houserow house,Sinnar Taluka, Nashik",Novini Pawar,25.0,2,1060,13.24
46,"Laxmi Square,Ghatkopar, Nashik",Nitin,42.0,3,1783,22.24
47,"Ghatkopar, Nashik",Kantilal H. Pokar,39.5,2,1350,20.92
48,"Pearl Park, Ambedkar Nagar, Chunchale,Nashik",Abhishek Mishra,35.0,2,1000,18.53
49,"Bhujbal Knowledge City, Adgaon,Nashik",Milind Pawar,42.0,2,1400,22.24

In [40]:
df2.tail(50)

,address,owners,price,BHK,total_sqft,per_month_emi
371,"Gayakhe Colony, Nashik Road,Nashik",Ejaj Sayyad,85.0,3,1700,42.20
372,"Konark Nagar, Nashik",Chetan Kishor Kale,175,4,3000,86.88
373,"Kala Nagar, Indira Nagar,Nashik",Chetan Kishor Kale,65.0,3,1750,34.42
374,"Sainath agency,Pathardi Gaon, Pathardi Phata,N...",NISHA,23.0,1,1000,12.18
375,"Chandshi, Nashik",Kiran,51.0,2,1550,27.01
376,"Indira Nagar, Nashik",Shrikant Shinde,53.0,2,1600,28.07
377,"Chetana Nagar, Rane Nagar,Nashik",NISHANT,94.5,3,2700,46.92
378,"Arupam happy homes,Ojhar, Nashik",Bhuptani Ventures Pvt Ltd,32.0,2,1620,16.95
379,"Sindhu ro bungalow,Chandshi, Nashik",Sandeep Jadhav,52.0,2,1550,27.54
380,"Indira Nagar, Nashik",Shrikant Shinde,50.0,2,1450,26.48
381,"Kishor Nagar, Nashik",NISHANT,68.4,3,1900,36.22
382,"Kala Nagar, Indira Nagar,Nashik",Uday Pimple,65.0,3,2000,34.42
383,"Ghatkopar, Nashik",Pramod Murkewar,14.85,1,635,7.86
384,"Dwarka, Nashik",MUFADDAL KANCHWALA,100,3,2500,49.65
385,"Swami Samarth Nagar, Nashik Road,Nashik",Sajish Gangurde,40.0,2,1400,21.18
386,"Gandhi Nagar Airport Area, Nashik Road,Nashik",Mr. Rahul Burse,42.0,2,1350,22.24
387,"Nashik Road, Nashik",Rajkumar,60.0,4,1550,31.77
388,"Chandshi, Nashik",Kiran,51.0,2,1550,27.01
389,"Vinayak Row Houses ,Ojhar, Nashik",U Singh,27.0,2,1300,14.30
390,"Adhav Nagar, Nashik Road,Nashik",Ejaj Sayyad,65.0,4,1300,34.42
391,"Raviwar Karanja, Panchavati,Nashik",NISHANT,172,3,861,85.39
392,"Raviwar Karanja, Panchavati,Nashik",NISHANT,172,3,860,85.39
393,"Chetana Nagar, Rane Nagar,Nashik",NISHANT,47.25,2,1350,25.02
394,"Dnyaneshwar Nagar, Pathardi Phata,Nashik",Thakkers Developers,59.43,3,NA,31.47
395,"Damodar Nagar, Pathardi Phata,Nashik",Rakholiya Construction,27.5,3,NA,14.56
396,"Chandshi, Nashik",Suyojit Infrastructure Pvt Ltd.,Price on Request,"1.5, 2, 3, 4",NA,NA
397,"Ramkrishna Nagar, Makhmalabad,Nashik",Vishwas Construction,Price on Request,2,NA,NA
398,"Medage Nagar, Nashik",Ashoka Realty,Price on Request,1,NA,NA
399,"Ambedkar Nagar, Chunchale,Nashik",Sarode Builders And Land Developers,Price on Request,1,NA,NA
400,"Buddha Vihar, Pathardi Phata,Nashik",Ekta World,126,4,NA,62.55
401,"Adgaon, Nashik",Aditi Developers,20.38,2,NA,10.79
402,"Deolali Gaon, Nashik",Shah Builders & land Developers,22.0,"1, 2",NA,11.65
403,"Mhasrul Gaon, Nashik",Pravinbhai Hasmukhbhai Vaghela,Price on Request,2,NA,NA
404,"MIDC Ambad, Nashik",Shree Constructions Nashik,Price on Request,1,NA,NA
405,"Mhasrul Gaon, Nashik",Shree Build Crafts,39.98,"2, 4",NA,21.17
406,"Panchwati, MIDC Ambad,Nashik",Jayantibhai Chhaganbhai Metaliya,Price on Request,"2, 3",NA,NA
407,"Chandshi, Nashik",Suyojit Infrastructure Pvt Ltd.,Price on Request,4,NA,NA
408,"Buddha Vihar, Pathardi Phata,Nashik",Ekta World,117,"3, 4",NA,58.09
409,"Sagar Village, Nashik",Pranav Buildtech,Price on Request,"2, 3",NA,NA
410,"Balram Nagar, Nashik",Talware Builders,33.78,3,NA,17.89
411,"Makhmalabad, Nashik",R R Construction,Price on Request,"2, 3",NA,NA
412,"Buddha Vihar, Pathardi Phata,Nashik",Maitreya Realtors & Constructions,44.4,2,NA,23.51
413,"Amrutdham, Nashik",Samraat Group,5606,"2, 3",NA,29.69
414,"Asha Nagar, Nashik",Kanaklaxmi Developers,Price on Request,2,NA,NA
415,"Ghatkopar, Nashik",Shree Buildcon & Associates,Price on Request,2,NA,NA
416,"MIDC Ambad, Nashik",Jay Developers,Price on Request,2.5,NA,NA
417,"Ganesh Baba Nagar, Nashik",Samraat Group,Price on Request,3,NA,NA
418,"Ojhar, Nashik",Dales Estate,Price on Request,"2, 3",NA,NA
419,"Sagar Village, Nashik",Ashok Vanara Land Developers,33.04,2,NA,17.50
420,", Nashik",Green Spaces Realtors,75.0,2,NA,39.71

In [41]:
df2['housetype'] = 'Independent_house'
df2['house_condition'] = 'new'

In [42]:
df2

,address,owners,price,BHK,total_sqft,per_month_emi,housetype,house_condition
0,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,26.51,1,650,14.04,Independent_house,new
1,"Samraat Dream Villas, Ganesh Baba Nagar, Nashik",Sumit Acharya,87.0,3,1900,43.19,Independent_house,new
2,"Viveka Nand Nagar, Anandwalli Gaon,Nashik",Umesh Shete,125,3,2500,62.06,Independent_house,new
3,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,30.0,1,650,15.89,Independent_house,new
4,"Asha Bramha Greens, Trimbak, Nashik",Rupesh Shirole,80.0,3,1500,39.72,Independent_house,new
...,...,...,...,...,...,...,...,...
416,"MIDC Ambad, Nashik",Jay Developers,Price on Request,2.5,NA,NA,Independent_house,new
417,"Ganesh Baba Nagar, Nashik",Samraat Group,Price on Request,3,NA,NA,Independent_house,new
418,"Ojhar, Nashik",Dales Estate,Price on Request,"2, 3",NA,NA,Independent_house,new
419,"Sagar Village, Nashik",Ashok Vanara Land Developers,33.04,2,NA,17.50,Independent_house,new
420,", Nashik",Green Spaces Realtors,75.0,2,NA,39.71,Independent_house,new

In [43]:
df2.to_csv('data7')