In [2]:
from selenium import  webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [3]:
chrome_options = webdriver.ChromeOptions()
### This blocks images and javascript requests
chrome_prefs = {
    "profile.default_content_setting_values": {
        "images": 2,
        "javascript": 2,
    }
}
chrome_options.experimental_options["prefs"] = chrome_prefs
###

driver = webdriver.Chrome()

url = 'https://housing.com/in/buy/searches/H4M86P5eetqxj34ghuz32h'
driver.get(url)


time.sleep(3)




try:
    element = driver.find_element(By.TAG_NAME,value='body')
    while True:
        element.send_keys(Keys.PAGE_DOWN)
        time.sleep(1)
        page_41 = driver.find_element(By.CLASS_NAME,value='css-1nm99ps')


        m= '754'
        if m in page_41.text :
            break
except Exception as e:
    print('step1:',e)
    pass
#//*[@id="innerApp"]/div[3]/div[2]/div[1]
#css-v64o2m
#//*[@id="srp-10"]/div/div[2]/div[1]/span

#//*[@id="srp-10"]/div/div[2]/di

'''   s= driver.find_element( By.CLASS_NAME ,value='css-18rodr0')
print(s.text    '''


try:
    bigbox = driver.find_elements(By.CLASS_NAME,value='css-1nr7r9e')


#    total_price=[]
    total_name=[]
    total_address = []
    total_sqft=[]
    total_avg_sqft = []
    total_owners = []
    emi_option=[]

    for box in bigbox :
#        price = box.find_element(By.CLASS_NAME,value='css-18rodr0')
        name = box.find_element(By.CLASS_NAME,value='css-zekqfr')
        address = box.find_element(By.CLASS_NAME,value='css-4in8py')
        sq_ft = box.find_element(By.CLASS_NAME,value='css-1ty8tu4')

        owner = box.find_element(By.CLASS_NAME,value='css-wni7av')
        emi = box.find_element(By.CLASS_NAME,value='css-70qvj9')


        total_name.append(name.text)
#        total_price.append(price.text)
        total_address.append(address.text)
        total_sqft.append(sq_ft.text)
        emi_option.append(emi.text)

        total_owners.append(owner.text)
except Exception as e:
    print('step2:',e)


    pass
'''print(total_name)
print(total_price)
print(total_address)
print(total_sqft)

print(total_owners)
print(emi_option)'''


print('name',len(total_name))
#print('price',len(total_price))
print('address',len(total_address))
print('sqft',len(total_sqft))
print('owners',len(total_owners))
print('emi',len(emi_option))

try:
    df = pd.DataFrame()
    df['name']=total_name
#    df['price']=total_price
    df['address']=total_address
    df['sq_ft']=total_sqft
    df['owners']=total_owners
    df['emi']=emi_option
except Exception as e:
    print('step3',e)
    pass


df.to_csv('df7')

name 753
address 753
sqft 753
owners 753
emi 753

In [6]:
df['housetype'] = 'Apartment'
df['house_condition'] = 'old'

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('housing_data7',index_col=0)

In [3]:
df['housetype'] = 'Independent_house'
df['house_condition'] = 'old'

In [4]:
df

,name,address,sq_ft,owners,emi,housetype,house_condition
0,2 BHK Independent House for sale in Nashik Road,"Aditya Apartment ,Swami Samarth Nagar, Nashik ...",835 sq.ft,DisposalHub,₹30.0 L\nEMI starts at ₹15.89 K,Independent_house,old
1,2 BHK Independent House for sale in Pathardi P...,"Vasant Bahar,Pathardi Gaon, Pathardi Phata,Nashik",1500 sq.ft,Dadasaheb Suryawanshi,₹32.0 L\nEMI starts at ₹16.95 K,Independent_house,old
2,Infinity Madhuban Residency,"Madhuban Colony, Nashik","1, 2 BHK Villas",Infinity Heights Private Limited,₹11.52 L - 16.86 L\nEMI starts at ₹6.10 K,Independent_house,old
3,Prabhat Vandan Apartment,"Janata Raja Colony, Nashik","2, 3 BHK Apartment,Penthouses",Prabhat Developers Nashik,₹21.42 L - 38.5 L\nEMI starts at ₹11.34 K,Independent_house,old
4,Shree Infra Vraj Bungalow A,"Deepali Nagar, Nashik","2, 3 BHK Villas",Shree Infra Project,₹32.89 L - 42.54 L\nEMI starts at ₹17.42 K,Independent_house,old
...,...,...,...,...,...,...,...
748,Geeta Shivdhara,"Vasantdadanagar, Adgaon,Nashik",2 BHK Villa,Geeta Buildcon,Price on Request,Independent_house,old
749,Atharvashree Shree Atharv Park Phase I,"Samarth Nagar, Makhmalabad,Nashik",2 BHK Villa,Atharvashree Buildmat Private Limited,₹34.32 L\nEMI starts at ₹18.17 K,Independent_house,old
750,Shree Prakash Le Regalia,"Bhor Town Ship, Nashik","1, 2, 3 BHK Apartment, Penthouses",Shree Prakash Developers,Price on Request,Independent_house,old
751,Nirman Green Cottages Villas,"Chandshi, Nashik","2, 3 BHK Villas",Nirman Group,Price on Request,Independent_house,old
752,Ashoka Kalpataru Ph 1,"Medage Nagar, Nashik",1 BHK Villa,Ashoka Realty,₹11.38 L\nEMI starts at ₹6.02 K,Independent_house,old

In [6]:
df.to_csv('housing_data7')

In [7]:
df.head()

,name,address,sq_ft,owners,emi,housetype,house_condition
0,2 BHK Independent House for sale in Nashik Road,"Aditya Apartment ,Swami Samarth Nagar, Nashik ...",835 sq.ft,DisposalHub,₹30.0 L\nEMI starts at ₹15.89 K,Independent_house,old
1,2 BHK Independent House for sale in Pathardi P...,"Vasant Bahar,Pathardi Gaon, Pathardi Phata,Nashik",1500 sq.ft,Dadasaheb Suryawanshi,₹32.0 L\nEMI starts at ₹16.95 K,Independent_house,old
2,Infinity Madhuban Residency,"Madhuban Colony, Nashik","1, 2 BHK Villas",Infinity Heights Private Limited,₹11.52 L - 16.86 L\nEMI starts at ₹6.10 K,Independent_house,old
3,Prabhat Vandan Apartment,"Janata Raja Colony, Nashik","2, 3 BHK Apartment,Penthouses",Prabhat Developers Nashik,₹21.42 L - 38.5 L\nEMI starts at ₹11.34 K,Independent_house,old
4,Shree Infra Vraj Bungalow A,"Deepali Nagar, Nashik","2, 3 BHK Villas",Shree Infra Project,₹32.89 L - 42.54 L\nEMI starts at ₹17.42 K,Independent_house,old

In [5]:
df.describe()

,name,address,sq_ft,owners,emi
count,753,753,753,753,753
unique,349,272,257,500,171
top,2 BHK Independent House for sale in Nashik Road,"Nashik Road, Nashik",1000 sq.ft,Mr Sanjay,₹30.0 L\nEMI starts at ₹15.89 K
freq,32,60,40,75,39

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('housing_data7',index_col=0)
df

,name,address,sq_ft,owners,emi,housetype,house_condition
0,2 BHK Independent House for sale in Nashik Road,"Aditya Apartment ,Swami Samarth Nagar, Nashik ...",835 sq.ft,DisposalHub,₹30.0 L\nEMI starts at ₹15.89 K,Independent_house,old
1,2 BHK Independent House for sale in Pathardi P...,"Vasant Bahar,Pathardi Gaon, Pathardi Phata,Nashik",1500 sq.ft,Dadasaheb Suryawanshi,₹32.0 L\nEMI starts at ₹16.95 K,Independent_house,old
2,Infinity Madhuban Residency,"Madhuban Colony, Nashik","1, 2 BHK Villas",Infinity Heights Private Limited,₹11.52 L - 16.86 L\nEMI starts at ₹6.10 K,Independent_house,old
3,Prabhat Vandan Apartment,"Janata Raja Colony, Nashik","2, 3 BHK Apartment,Penthouses",Prabhat Developers Nashik,₹21.42 L - 38.5 L\nEMI starts at ₹11.34 K,Independent_house,old
4,Shree Infra Vraj Bungalow A,"Deepali Nagar, Nashik","2, 3 BHK Villas",Shree Infra Project,₹32.89 L - 42.54 L\nEMI starts at ₹17.42 K,Independent_house,old
...,...,...,...,...,...,...,...
748,Geeta Shivdhara,"Vasantdadanagar, Adgaon,Nashik",2 BHK Villa,Geeta Buildcon,Price on Request,Independent_house,old
749,Atharvashree Shree Atharv Park Phase I,"Samarth Nagar, Makhmalabad,Nashik",2 BHK Villa,Atharvashree Buildmat Private Limited,₹34.32 L\nEMI starts at ₹18.17 K,Independent_house,old
750,Shree Prakash Le Regalia,"Bhor Town Ship, Nashik","1, 2, 3 BHK Apartment, Penthouses",Shree Prakash Developers,Price on Request,Independent_house,old
751,Nirman Green Cottages Villas,"Chandshi, Nashik","2, 3 BHK Villas",Nirman Group,Price on Request,Independent_house,old
752,Ashoka Kalpataru Ph 1,"Medage Nagar, Nashik",1 BHK Villa,Ashoka Realty,₹11.38 L\nEMI starts at ₹6.02 K,Independent_house,old

In [7]:
temp_df = df.loc[:,['name','sq_ft']]
temp_df

,name,sq_ft
0,2 BHK Independent House for sale in Nashik Road,835 sq.ft
1,2 BHK Independent House for sale in Pathardi P...,1500 sq.ft
2,Infinity Madhuban Residency,"1, 2 BHK Villas"
3,Prabhat Vandan Apartment,"2, 3 BHK Apartment,Penthouses"
4,Shree Infra Vraj Bungalow A,"2, 3 BHK Villas"
...,...,...
748,Geeta Shivdhara,2 BHK Villa
749,Atharvashree Shree Atharv Park Phase I,2 BHK Villa
750,Shree Prakash Le Regalia,"1, 2, 3 BHK Apartment, Penthouses"
751,Nirman Green Cottages Villas,"2, 3 BHK Villas"
752,Ashoka Kalpataru Ph 1,1 BHK Villa

In [8]:
def name_splitter(value):
    if 'BHK' in value:
        return value.split(sep=' BHK')[0]
    else:
        value = ''
        return value

In [9]:
temp_df['BHK'] = temp_df['name'].apply(name_splitter)

In [10]:
temp_df['BHK'].unique()

array(['2', '', '1', '3', '8', '5', '7', '4', '6', '10'], dtype=object)

In [11]:
temp_df['BHK1'] = temp_df['sq_ft'].apply(name_splitter)

In [12]:
temp_df.BHK1.unique()

array(['', '1, 2', '2, 3', '1, 2, 3', '2', '3', '2, 3, 4', '3, 3.5', '4',
       '3, 5, 7', '7', '3, 4', '3.5', '5', '2, 2.5', '1'], dtype=object)

In [13]:
temp_df['final_BHK']= temp_df['BHK']+temp_df['BHK1']

In [14]:
def splitting_sqft(value):
    if 'sq' in value:
        return value.split()[0]
    else:
        value = 'NA'
        return value

In [15]:
temp_df['total_sqft'] = temp_df['sq_ft'].apply(splitting_sqft)

In [16]:
temp_df.total_sqft.unique()

array(['835', '1500', 'NA', '850', '1300', '1100', '910', '1650', '1252',
       '10000', '1150', '950', '2500', '1250', '1400', '2300', '1800',
       '500', '1000', '800', '3200', '980', '1200', '650', '900', '1450',
       '863', '560', '1141', '737', '3600', '2600', '1022', '2044', '840',
       '780', '750', '2000', '645', '365', '3500', '1298', '1588', '2400',
       '345', '1040', '1080', '885', '3560', '770', '1511', '906', '680',
       '2100', '720', '3000', '1411', '1350', '1655', '3800', '845',
       '1520', '550', '830', '756', '1600', '592', '525', '690', '1380',
       '5616', '1312', '804', '1117', '600', '2260', '1260', '2553',
       '960', '2700', '1578', '1154', '1872', '1137', '3300', '1045',
       '1622', '1660', '1066', '874', '40000', '5000', '875', '925',
       '1700', '865', '160', '150', '370', '1185', '1120', '450', '660',
       '1065', '2250', '1992', '1505', '300', '775', '710', '1356', '337',
       '700', '480', '1125', '1610', '521', '627', '1050', '4000', '880',
       '997', '1164', '1750', '1880', '375', '824', '2850', '1950', '400',
       '1850', '420', '1585', '320', '755', '2074', '608', '2800', '2065',
       '1593', '975', '350', '4900', '1128', '905', '515', '1220', '965',
       '1095', '1255', '1752', '4200', '321', '1160', '1490', '1485',
       '836', '1280', '1360', '1550', '1070', '1071', '13000', '1670',
       '561', '1594', '887', '990', '1668', '807', '1635', '1921', '1270',
       '1410', '1538', '2200', '1425', '3150', '1180', '2239', '1089',
       '930', '1503', '1557', '2430', '820', '2493', '1290', '715', '565',
       '585', '590', '675', '1238', '1455', '1900', '945', '1048', '510',
       '816', '1390', '860', '1009', '1430', '964', '1230', '1530',
       '1443', '2002', '1603', '1875', '4095', '3412', '1460', '978',
       '1580', '1512', '735', '1372', '665', '1540', '2140', '1278',
       '1023', '822', '854', '536', '1725', '2310', '640', '1740', '970',
       '1325', '924', '1420', '1475'], dtype=object)

In [18]:
temp_df

,name,sq_ft,BHK,BHK1,final_BHK,total_sqft
0,2 BHK Independent House for sale in Nashik Road,835 sq.ft,2,,2,835
1,2 BHK Independent House for sale in Pathardi P...,1500 sq.ft,2,,2,1500
2,Infinity Madhuban Residency,"1, 2 BHK Villas",,"1, 2","1, 2",NA
3,Prabhat Vandan Apartment,"2, 3 BHK Apartment,Penthouses",,"2, 3","2, 3",NA
4,Shree Infra Vraj Bungalow A,"2, 3 BHK Villas",,"2, 3","2, 3",NA
...,...,...,...,...,...,...
748,Geeta Shivdhara,2 BHK Villa,,2,2,NA
749,Atharvashree Shree Atharv Park Phase I,2 BHK Villa,,2,2,NA
750,Shree Prakash Le Regalia,"1, 2, 3 BHK Apartment, Penthouses",,"1, 2, 3","1, 2, 3",NA
751,Nirman Green Cottages Villas,"2, 3 BHK Villas",,"2, 3","2, 3",NA
752,Ashoka Kalpataru Ph 1,1 BHK Villa,,1,1,NA

In [21]:
import regex as re
def min_price(value):
    
    min_price = re.findall(r"[-+]?\d*\.\d+|\d+",value)
    

    if 'Cr\nEMI starts at'in value:
        value2 = float(min_price[0])*100
        return round(value2,ndigits=1)
    elif 'Price on Request' in value:
        return 'Price on Request'
    else:
        return min_price[0]

In [22]:
df['price'] = df['emi'].apply(min_price)

In [23]:
new=temp_df.loc[:,['final_BHK','total_sqft']]

In [24]:
df2 =  df.join( new)

In [27]:
def emi_splitter(value):
 #   if 'Cr\nEMI starts at'in value:
#        value = float(value.split(sep=' ')[0])*100
 #       return round(value,ndigits=1)
 #   else:
    if 'Price on Request' in value:
        return 'NA'
    else:
        emi =re.findall(r"[-+]?\d*\.\d+|\d+",value)
        return emi[-1]

In [28]:
df2['per_month_emi']=df2['emi'].apply(emi_splitter)

In [33]:
df2.drop(columns=['name','sq_ft','emi'],inplace=True)

In [31]:
df2.rename(columns={'final_BHK':'BHK'},inplace=True)

In [34]:
df2

,address,owners,housetype,house_condition,price,BHK,total_sqft,per_month_emi
0,"Aditya Apartment ,Swami Samarth Nagar, Nashik ...",DisposalHub,Independent_house,old,30.0,2,835,15.89
1,"Vasant Bahar,Pathardi Gaon, Pathardi Phata,Nashik",Dadasaheb Suryawanshi,Independent_house,old,32.0,2,1500,16.95
2,"Madhuban Colony, Nashik",Infinity Heights Private Limited,Independent_house,old,11.52,"1, 2",NA,6.10
3,"Janata Raja Colony, Nashik",Prabhat Developers Nashik,Independent_house,old,21.42,"2, 3",NA,11.34
4,"Deepali Nagar, Nashik",Shree Infra Project,Independent_house,old,32.89,"2, 3",NA,17.42
...,...,...,...,...,...,...,...,...
748,"Vasantdadanagar, Adgaon,Nashik",Geeta Buildcon,Independent_house,old,Price on Request,2,NA,NA
749,"Samarth Nagar, Makhmalabad,Nashik",Atharvashree Buildmat Private Limited,Independent_house,old,34.32,2,NA,18.17
750,"Bhor Town Ship, Nashik",Shree Prakash Developers,Independent_house,old,Price on Request,"1, 2, 3",NA,NA
751,"Chandshi, Nashik",Nirman Group,Independent_house,old,Price on Request,"2, 3",NA,NA
752,"Medage Nagar, Nashik",Ashoka Realty,Independent_house,old,11.38,1,NA,6.02

In [35]:
df2.head(45)

,address,owners,housetype,house_condition,price,BHK,total_sqft,per_month_emi
0,"Aditya Apartment ,Swami Samarth Nagar, Nashik ...",DisposalHub,Independent_house,old,30.0,2,835,15.89
1,"Vasant Bahar,Pathardi Gaon, Pathardi Phata,Nashik",Dadasaheb Suryawanshi,Independent_house,old,32.0,2,1500,16.95
2,"Madhuban Colony, Nashik",Infinity Heights Private Limited,Independent_house,old,11.52,"1, 2",NA,6.10
3,"Janata Raja Colony, Nashik",Prabhat Developers Nashik,Independent_house,old,21.42,"2, 3",NA,11.34
4,"Deepali Nagar, Nashik",Shree Infra Project,Independent_house,old,32.89,"2, 3",NA,17.42
5,"Bhor Town Ship, Nashik",Shree Prakash Developers,Independent_house,old,17.92,"1, 2, 3",NA,9.49
6,"Somwar Peth, Chandwad,Nashik",Sheetal Javerilal Dungarwal,Independent_house,old,Price on Request,"1, 2",NA,NA
7,"Dhanlaxmi row house,Krishna Nagar, MIDC Ambad,...",Satish Jadhav,Independent_house,old,36.0,1,850,19.06
8,"Lamkhade Mala, Nashik",Swapnil,Independent_house,old,60.0,2,1300,31.77
9,"Bhujbal Knowledge City, Adgaon,Nashik",Dinesh Bhai M Virmgama Builders,Independent_house,old,Price on Request,2,NA,NA
10,"Adhav Nagar, Nashik Road,Nashik",Dinesh Eknath Khandre,Independent_house,old,39.26,3,NA,20.79
11,"Deepali Nagar, Nashik",Shree Infra Project,Independent_house,old,39.25,"2, 3",NA,20.79
12,"Ambedkar Nagar, Chunchale,Nashik",Pearl Residency,Independent_house,old,Price on Request,2,NA,NA
13,"Sagar Village, Nashik",Blue Ocean Builders And Developers,Independent_house,old,Price on Request,2,NA,NA
14,"Makhmalabad, Nashik",Bhagya Developer,Independent_house,old,35.5,"2, 3, 4",NA,18.80
15,"Kalpataru Nagar, Nashik",Suhaib Logde,Independent_house,old,100.0,2,1300,49.65
16,"Gandhi Nagar Airport Area, Deolali Gaon,Nashik",Sadguru Builders And Developers,Independent_house,old,44.55,2,NA,23.59
17,"Makhmalabad, Nashik",J P Builders & Land Developers,Independent_house,old,Price on Request,2,NA,NA
18,"Makhmalabad, Nashik",Jerry Dcunha,Independent_house,old,37.0,2,850,19.59
19,"Kavnai village,Koknipura, Nashik",Maa Sarada,Independent_house,old,27.0,1,1100,14.30
20,"Saptashrungi Nagar, Kamatwade Gaon,Nashik",Chetan,Independent_house,old,75.0,2,910,39.72
21,"Samarth Nagar, Makhmalabad,Nashik",Rajesh Avhad,Independent_house,old,60.0,3,1650,31.77
22,"Ashwin Nagar, Nashik",Ashwin Laxmeshwar,Independent_house,old,200.0,1,1252,99.29
23,"Raviwar Karanja, Panchavati,Nashik",Mehul,Independent_house,old,550.0,8,10000,2.73
24,"Prabudha Nagar, Satpur,Nashik",Rekha Vispute,Independent_house,old,56.0,5,1150,29.66
25,"Nashik Road, Nashik",Prashant,Independent_house,old,88.0,3,950,43.69
26,"Kalachowki, Nashik",Girish Dhadiwal,Independent_house,old,90.0,2,2500,44.68
27,"Cidco, Nashik",Sagar,Independent_house,old,90.0,5,1100,44.68
28,"Pandavnagri, Mogal Nagar,Nashik",Bharat Aher,Independent_house,old,61.0,2,1250,32.30
29,"Gulmohar Vihar, Satpur,Nashik",Jadhav Builders Nashik,Independent_house,old,Price on Request,2,NA,NA
30,"Deolali Gaon, Nashik",Surya Properties,Independent_house,old,40.0,2,NA,21.18
31,"Mhasrul Gaon, Nashik",B G Ambaliya Builder,Independent_house,old,Price on Request,2,NA,NA
32,"MIDC, Satpur,Nashik",Chumble Builders,Independent_house,old,Price on Request,"3, 3.5",NA,NA
33,"Makhmalabad, Nashik",Rakasheth Mali,Independent_house,old,Price on Request,2,NA,NA
34,"Prabhu Park ,Chetana Nagar, Rane Nagar,Nashik",Ks S,Independent_house,old,70.0,2,1400,37.07
35,"Ojhar, Nashik",Eshak Shaikh,Independent_house,old,55.0,2,2300,29.13
36,"Gangapur, Nashik",Peninsula Land Limited,Independent_house,old,165.0,4,NA,81.68
37,"Panchavati, Nashik",Vivek Shinde,Independent_house,old,50.0,3,1300,26.48
38,"Panchavati, Nashik",Vivek Shinde,Independent_house,old,65.0,3,1800,34.42
39,"Savata Nagar, Nashik",Mayur,Independent_house,old,22.0,1,500,11.65
40,"Cidco,Lekha Nagar, Nashik",Santosh,Independent_house,old,70.0,7,1000,37.07
41,"Shanti Nagar, Lekha Nagar,Nashik",Arvind R Nagare,Independent_house,old,35.0,3,800,18.53
42,"GajananNagar, Mahajan Nagar,Nashik",Kishori Bhopale,Independent_house,old,47.0,2,1000,24.89
43,"Deolali Gaon, Nashik",Sainath Estate Agency,Independent_house,old,300.0,4,3200,1.49
44,"Vatsalya Row Houses,Pandav Nagari, Pathardi Ph...",Sanjay Dange,Independent_house,old,32.0,1,980,16.95

In [37]:
df2.tail(50)

,address,owners,housetype,house_condition,price,BHK,total_sqft,per_month_emi
703,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,40.0,2,822,21.18
704,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,40.0,2,822,21.18
705,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,30.0,1,854,15.89
706,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,56.0,3,1650,29.66
707,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,21.0,1,536,11.12
708,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,85.0,3,1725,42.20
709,"TIDKE NAGAR, Nashik",Mr Sanjay,Independent_house,old,140.0,4,2310,69.50
710,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,27.0,1,640,14.30
711,"Anand Vihar Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,111.0,3,2200,55.11
712,"Panchavati, Nashik",Mr Sanjay,Independent_house,old,110.0,3,1740,54.61
713,"Ashoknagar, Satpur,Nashik",Mr Sanjay,Independent_house,old,70.0,3,1600,37.07
714,"Serene Meadows, Anandwalli Gaon,Nashik",Mr Sanjay,Independent_house,old,200.0,3,2100,99.29
715,"RTO Colony, Uttara Nagar,Nashik",Mr Sanjay,Independent_house,old,135.0,4,2800,67.02
716,"Raviwar Karanja, Panchavati,Nashik",NISHANT,Independent_house,old,211.0,4,3000,1.05
717,"Raviwar Karanja, Panchavati,Nashik",NISHANT,Independent_house,old,51.0,1,1411,27.01
718,"Ayodhya Nagari, Nashik",Agarwal Properties,Independent_house,old,350.0,4,1000,1.74
719,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,34.0,2,970,18.00
720,"Ashtavinayak Colony, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,45.0,2,1050,23.83
721,"Datey Nagar, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,60.0,3,1325,31.77
722,"Lavate Nager, Parijat Nagar,Nashik",Mr Sanjay,Independent_house,old,30.0,1,750,15.89
723,"Mahatma Nagar, Parijat Nagar,Nashik",Mr Sanjay,Independent_house,old,28.5,1,816,15.09
724,"Gaikwad Nagar, Nashik",Mr Sanjay,Independent_house,old,55.0,2,924,29.13
725,"Mahatma Nagar, Parijat Nagar,Nashik",Mr Sanjay,Independent_house,old,28.5,1,816,15.09
726,"Ashoknagar, Satpur,Nashik",Mr Sanjay,Independent_house,old,75.0,3,1200,39.72
727,"Ashoknagar, Satpur,Nashik",Mr Sanjay,Independent_house,old,55.0,2,1420,29.13
728,"Datey Nagar, Veer Sawarkar Nagar,Nashik",Mr Sanjay,Independent_house,old,34.0,2,970,18.00
729,"Swami Samarth Nagar, Nashik Road,Nashik",Sajish Gangurde,Independent_house,old,40.0,2,1400,21.18
730,"Swami Samarth Nagar, Nashik Road,Nashik",Sajish Gangurde,Independent_house,old,40.0,2,1400,21.18
731,"Gayakhe Colony, Nashik Road,Nashik",Ejaj Sayyad,Independent_house,old,55.0,2,1650,29.13
732,"Balram Nagar, Nashik",Sajish Gangurde,Independent_house,old,45.0,4,1450,23.83
733,"Nashik Road, Nashik",Ejaj Sayyad,Independent_house,old,57.51,3,1475,30.45
734,"Omkar Construction,Damodar Nagar, Pathardi Pha...",Vinit Sawant,Independent_house,old,15.0,1,525,7.94
735,"Om sai row house,Pandav Nagari, Pathardi Phata...",Vinod Yeram,Independent_house,old,41.0,2,1000,21.71
736,"Gandhi Nagar Airport Area, Deolali Gaon,Nashik",Dales Estate,Independent_house,old,Price on Request,3,NA,NA
737,"Ojhar, Nashik",Jay Developers,Independent_house,old,38.75,3,NA,20.52
738,"Mahatma Nagar, Parijat Nagar,Nashik",Rachita Constructions Pvt. Ltd,Independent_house,old,56.5,2,NA,29.92
739,"GajananNagar, Mahajan Nagar,Nashik",Bhavani Construction Nashik,Independent_house,old,Price on Request,2,NA,NA
740,"Dhurav Nagar, Satpur,Nashik",Shri Sanderi Group,Independent_house,old,Price on Request,"3, 4",NA,NA
741,"Samarth Nagar, Makhmalabad,Nashik",Jay Developers,Independent_house,old,45.5,3.5,NA,24.09
742,"Chetana Nagar, Rane Nagar,Nashik",Bharatbhai Karsanbhai Adroja Contractors And D...,Independent_house,old,Price on Request,2,NA,NA
743,"Dwarka, Nashik",Reputed Builder,Independent_house,old,Price on Request,5,NA,NA
744,"Gangapur, Nashik",Reputed Builder,Independent_house,old,Price on Request,"2, 2.5",NA,NA
745,"Gangapur, Nashik",Jai Durga Developers,Independent_house,old,Price on Request,2,NA,NA
746,"Bhujbal Knowledge City, Adgaon,Nashik",Reputed Builder,Independent_house,old,Price on Request,2,NA,NA
747,"Prashant Nagar, Pathardi Phata,Nashik",Datta Kale,Independent_house,old,92.25,4,NA,45.80
748,"Vasantdadanagar, Adgaon,Nashik",Geeta Buildcon,Independent_house,old,Price on Request,2,NA,NA
749,"Samarth Nagar, Makhmalabad,Nashik",Atharvashree Buildmat Private Limited,Independent_house,old,34.32,2,NA,18.17
750,"Bhor Town Ship, Nashik",Shree Prakash Developers,Independent_house,old,Price on Request,"1, 2, 3",NA,NA
751,"Chandshi, Nashik",Nirman Group,Independent_house,old,Price on Request,"2, 3",NA,NA
752,"Medage Nagar, Nashik",Ashoka Realty,Independent_house,old,11.38,1,NA,6.02

In [39]:
df2.to_csv('data8')